{{- $baseurl := urls.Parse site.BaseURL -}}
{{- $url := urls.Parse .Destination -}}
{{- $getpage := site.GetPage .Destination -}}
{{- $internal := lt (len $url.Host) 1 -}} {{/* NOTE: internal links will always have an empty $url.Host */}}

{{- $fragment := $url.Fragment -}}
{{- with $fragment -}}{{ $fragment = printf "#%s" $fragment }}{{- end -}}

{{- $destination := "" -}}
{{- if $internal -}}
  {{- if (strings.HasPrefix $url.Path "./") -}}
    {{/* NOTE: for links starting with ./ */}}
    {{- $destination = printf "%s%s%s" $baseurl.Host $url $fragment | replaceRE "\\.(.*)" "$1" -}}
  {{- else -}}
    {{/* NOTE: for internal links */}}
    {{- $destination = printf "%s%s" $getpage.RelPermalink $fragment -}}
  {{- end -}}
{{- else -}}
  {{- $destination = .Destination -}}
{{- end -}}

{{/* PROTOCOLS */}}
  {{- $chat := findRE "^(?:discord|irc[s6]?|jabber|skype|xmpp)://" .Destination -}}
  {{- $ftp := findRE "^(?:[as]?ftp)://" .Destination -}}
  {{- $magnet := strings.HasPrefix .Destination "magnet://" -}}
  {{- $mail := strings.HasPrefix .Destination "mailto:" -}}
  {{- $remote := findRE "^(?:bzr|git|s(?:sh|vn)|telnet)://" .Destination -}}
  {{- $tel := strings.HasPrefix .Destination "tel:" -}}

{{/* READING */}}
  {{- $books := or (strings.HasPrefix .Destination "doi://") (findRE "\\.(?:epub|mobi|pdf)$" .Destination) -}}
  {{- $document := findRE "\\.(?:docx?|odt|s(?:dw|xw)|sxw|uo[ft])$" .Destination -}}
  {{- $text := findRE "\\.(?:csv|txt)$" .Destination -}}
  {{- $presentation := findRE "\\.(?:f?odp|pptx?|s(?:d[dp]|xi)|uop)$" .Destination -}}
  {{- $spreadsheet := findRE "\\.(?:f?ods|s(?:d[cx]|xc)|uos|xlsx?)$" .Destination -}}

{{/* MEDIA */}}
  {{- $audio := findRE "\\.(?:(?:fl|a)ac|mka|og[ag]|opus|mp[3a]|midi?|wave?|wma)$" .Destination -}}
  {{- $video := findRE "\\.(?:av[1i]|divx|mk(?:3d|v)|mp(?:(?:e?g)?4?|v)|og[mv]|xvid|webm)$" .Destination -}}
  {{- $subtitle := findRE "\\.(?:dfxp|mks|s(?:bv|cc|rt|ub)|ttml|vtt)$" .Destination -}}

{{/* EXECUTABLES */}}
  {{- $executable := findRE "\\.(?:apk|com|deb|exe|msi)$" .Destination -}}
  {{- $scripts := findRE "\\.(?:bat|sh)$" .Destination -}}

{{/* OTHERS */}}
  {{- $fonts := findRE "\\.(?:otf|tt[fc]|woff2?)$" .Destination -}}
  {{- $compressed := findRE "\\.(?:[7g]?z(?:ip)?|bz(?:ip)?2?|[rt]ar)$" .Destination -}}
  {{- $diskimage := findRE "\\.(?:[di]mg|iso|md[sfx])$" .Destination -}}
  {{- $imagediting := findRE "\\.(?:psd|xcf)$" .Destination -}}

{{- $icon := "" -}}
{{- if $chat -}}{{ $icon = "chat" }}
  {{- else if $ftp -}}{{ $icon = "ftp" }}
  {{- else if $magnet -}}{{ $icon = "magnet" }}
  {{- else if $mail -}}{{ $icon = "mail" }}
  {{- else if $remote -}}{{ $icon = "remote" }}
  {{- else if $tel -}}{{ $icon = "tel" }}

  {{- else if $books -}}{{ $icon = "books" }}
  {{- else if $document -}}{{ $icon = "document" }}
  {{- else if $text -}}{{ $icon = "text" }}
  {{- else if $presentation -}}{{ $icon = "presentation" }}
  {{- else if $spreadsheet -}}{{ $icon = "spreadsheet" }}

  {{- else if $audio -}}{{ $icon = "audio" }}
  {{- else if $video -}}{{ $icon = "video" }}
  {{- else if $subtitle -}}{{ $icon = "subtitle" }}

  {{- else if $executable -}}{{ $icon = "executable" }}
  {{- else if $scripts -}}{{ $icon = "scripts" }}

  {{- else if $fonts -}}{{ $icon = "fonts" }}
  {{- else if $compressed -}}{{ $icon = "compressed" }}
  {{- else if $diskimage -}}{{ $icon = "diskimage" }}
  {{- else if $imagediting -}}{{ $icon = "imagediting" }}

  {{- else if and (not $internal) (ne $url.Host $baseurl.Host) -}}{{ $icon = "external" }}
{{- end -}}
<a href="{{ $destination | safeURL }}"{{ with or .Title $getpage.LinkTitle .Text }} title="{{ . }}"{{ end }}{{ with $icon }} class="icon_{{ . }}"{{ end }}{{ if not $internal }} rel="noopener external"{{ end }}>{{ or .Text .Title $getpage.LinkTitle | safeHTML }}</a>

{{- /*
  <ul>
    <li>$destination: {{ $destination }}</li>
    <li>$baseurl: {{ $baseurl }}</li>
    <li>$baseurl.Host: {{ $baseurl.Host }}</li>
    <li>$url: {{ $url }}</li>
    <li>$url.Host: {{ $url.Host }}</li>
    <li>$url.Path: {{ $url.Path }}</li>
  </ul>
*/ -}}

{{/* RESEARCH: https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml */}}

{{- /* TEST
  ## How to use

  ### Traditional

  ```markdown
  - [https://example.com/#fragment](https://example.com/#fragment "https://example.com/#fragment")
  - [direct](https://im.youronly.one/techmagus/browser-wars-3-blink-gecko-2018344/ "Title")
  - [direct with #fragment](https://im.youronly.one/techmagus/browser-wars-3-blink-gecko-2018344/#fragment "Title")
  - [#fragment only](#fragment)
  ```

  - [https://example.com/#fragment](https://example.com/#fragment "https://example.com/#fragment")
  - [direct](https://im.youronly.one/techmagus/browser-wars-3-blink-gecko-2018344/ "Title")
  - [direct with #fragment](https://im.youronly.one/techmagus/browser-wars-3-blink-gecko-2018344/#fragment "Title")
  - [#fragment only](#fragment)

  ### New

  #### Special

  The `[text](./path/to/content/)` format is useful when you want to create a link to another part of your website, under the same (sub)-domain but not part of the current Hugo project. This format will not generate an external link icon if the [](hugo-link-icons-markdown-links.md) is also installed.

  The `[text.ext](./path/to/file.ext)` is useful for download links hosted under the same (sub)-domain, within or external relative to the current Hugo project.

  ```markdown
  - [send a gift](./p/gift/)
  - [link-icons.7z](./techmagus/dls/link-icons.7z)
  ```

  - [send a gift](./p/gift/)
  - [link-icons.7z](./techmagus/dls/link-icons.7z)

  #### Without a file extension

  ```markdown
  - [](20181210-browser-wars-iii)
  - [](/20181210-browser-wars-iii)
  - [](20181210-browser-wars-iii "Title")
  - [](/20181210-browser-wars-iii "Title")
  - [Text](20181210-browser-wars-iii)
  - [Text](/20181210-browser-wars-iii)
  - [Text](20181210-browser-wars-iii "Title")
  - [Text](/20181210-browser-wars-iii "Title")
  ```

  - [](20181210-browser-wars-iii)
  - [](/20181210-browser-wars-iii)
  - [](20181210-browser-wars-iii "Title")
  - [](/20181210-browser-wars-iii "Title")
  - [Text](20181210-browser-wars-iii)
  - [Text](/20181210-browser-wars-iii)
  - [Text](20181210-browser-wars-iii "Title")
  - [Text](/20181210-browser-wars-iii "Title")

  #### With file extension

  ```markdown
  - [](20181210-browser-wars-iii.md#fragment)
  - [](/20181210-browser-wars-iii.md#fragment)
  - [](20181210-browser-wars-iii.md#fragment "Title")
  - [](/20181210-browser-wars-iii.md#fragment "Title")
  - [Text#fragment](20181210-browser-wars-iii.md#fragment)
  - [Text#fragment](/20181210-browser-wars-iii.md#fragment)
  - [Text#fragment](20181210-browser-wars-iii.md#fragment "Title")
  - [Text#fragment](/20181210-browser-wars-iii.md#fragment "Title")
  ```

  - [](20181210-browser-wars-iii.md#fragment)
  - [](/20181210-browser-wars-iii.md#fragment)
  - [](20181210-browser-wars-iii.md#fragment "Title")
  - [](/20181210-browser-wars-iii.md#fragment "Title")
  - [Text#fragment](20181210-browser-wars-iii.md#fragment)
  - [Text#fragment](/20181210-browser-wars-iii.md#fragment)
  - [Text#fragment](20181210-browser-wars-iii.md#fragment "Title")
  - [Text#fragment](/20181210-browser-wars-iii.md#fragment "Title")

  ### Not supported

  Internal linking without a file extension and with a `#fragment` produces a wrong link.

  ```markdown
  - [](20181210-browser-wars-iii#fragment)
  - [](/20181210-browser-wars-iii#fragment)
  - [](20181210-browser-wars-iii#fragment "Title")
  - [](/20181210-browser-wars-iii#fragment "Title")
  - [Text#fragment](20181210-browser-wars-iii#fragment)
  - [Text#fragment](/20181210-browser-wars-iii#fragment)
  - [Text#fragment](20181210-browser-wars-iii#fragment "Title")
  - [Text#fragment](/20181210-browser-wars-iii#fragment "Title")
  ```

  Also take note of the following formats.
  ```markdown
  - [link-icons.7z](/dls/link-icons.7z)
  - [link-icons.7z](../../dls/link-icons.7z)
  - [link-icons.7z](./dls/link-icons.7z)
  ```

  Instead of the above, use `[text](./path/to/file.ext)` like so `[link-icons.7z](./techmagus/dls/link-icons.7z)` will render as: [link-icons.7z](./techmagus/dls/link-icons.7z)

  ### Link icons

  - External links
    - [https://example.com/#fragment](https://example.com/#fragment "https://example.com/#fragment")
  - Chat
    - [irc://](irc://example.com "irc://") | [ircs://](ircs://example.com "ircs://") | [irc6://](irc6://example.com "irc6://") | [xmpp://](xmpp://example.com "xmpp://") | [jabber://](jabber://example.com "jabber://") | [discord://](discord://example.com "discord://") | [skype://](skype://example.com "skype://")
  - FTP
    - [sftp://](sftp://example.com "sftp://") | [ftp://](ftp://example.com "ftp://") | [aftp://](aftp://example.com "aftp://")
  - Magnet
    - [magnet://](magnet://example.com "magnet://")
  - Mail
    - [mailto:](mailto:noreply@example.com "mailto:")
  - Remote
    - [telnet://](telnet://example.com "telnet://") | [ssh://](ssh://example.com "ssh://") | [git://](git://example.com "git://") | [svn://](svn://example.com "svn://") | [bzr://](bzr://example.com "bzr://")
  - Tel
    - [tel:](tel:123-456-7890 "tel:")
  - Books
    - [doi://](doi://example.com "doi://") | [.epub](https://example.com/file.epub ".epub") | [.mobi](https://example.com/file.mobi ".mobi") | [.pdf](https://example.com/file.pdf ".pdf")
  - Document
    - [.odt](https://example.com/file.odt ".odt") | [.sdw](https://example.com/file.sdw ".sdw") | [.sxw](https://example.com/file.sxw ".sxw") | [.uof](https://example.com/file.uof ".uof") | [.uot](https://example.com/file.uot ".uot") | [.doc](https://example.com/file.doc ".doc") | [.docx](https://example.com/file.docx ".docx")
  - Text
    - [.txt](https://example.com/file.txt ".txt") | [.csv](https://example.com/file.csv ".csv")
  - Presentation
    - [.odp](https://example.com/file.odp ".odp") | [.fodp](https://example.com/file.fodp ".fodp") | [.sdd](https://example.com/file.sdd ".sdd") | [.sdp](https://example.com/file.sdp ".sdp") | [.sxi](https://example.com/file.sxi ".sxi") | [.uop](https://example.com/file.uop ".uop") | [.ppt](https://example.com/file.ppt ".ppt") | [.pptx](https://example.com/file.pptx ".pptx")
  - Spreadsheet
    - [.ods](https://example.com/file.ods ".ods") | [.fods](https://example.com/file.fods ".fods") | [.sdc](https://example.com/file.sdc ".sdc") | [.sxc](https://example.com/file.sxc ".sxc") | [.uos](https://example.com/file.uos ".uos") | [.xls](https://example.com/file.xls ".xls") | [.xlsx](https://example.com/file.xlsx ".xlsx")
  - Audio
    - [.flac](https://example.com/file.flac ".flac") | [.aac](https://example.com/file.aac ".aac") | [.mka](https://example.com/file.mka ".mka") | [.ogg](https://example.com/file.ogg ".ogg") | [.oga](https://example.com/file.oga ".oga") | [.opus](https://example.com/file.opus ".opus") | [.mp3](https://example.com/file.mp3 ".mp3") | [.mpa](https://example.com/file.mpa ".mpa") | [.mid](https://example.com/file.mid ".mid") | [.midi](https://example.com/file.midi ".midi") | [.wav](https://example.com/file.wav ".wav") | [.wave](https://example.com/file.wave ".wave") | [.wma](https://example.com/file.wma ".wma")
  - Video
    - [.av1](https://example.com/file.av1 ".av1") | [.webm](https://example.com/file.webm ".webm") | [.xvid](https://example.com/file.xvid ".xvid") | [.mkv](https://example.com/file.mkv ".mkv") | [.mk3d](https://example.com/file.mk3d ".mk3d") | [.ogm](https://example.com/file.ogm ".ogm") | [.ogv](https://example.com/file.ogv ".ogv") | [.divx](https://example.com/file.divx ".divx") | [.avi](https://example.com/file.avi ".avi") | [.mp4](https://example.com/file.mp4 ".mp4") | [.mpeg4](https://example.com/file.mpeg4 ".mpeg4") | [.mpv](https://example.com/file.mpv ".mpv") | [.mpeg](https://example.com/file.mpeg ".mpeg") | [.mpg](https://example.com/file.mpg ".mpg")
  - Subtitle
    - [.vtt](https://example.com/file.vtt ".vtt") | [.ttml](https://example.com/file.ttml ".ttml") | [.dfxp](https://example.com/file.dfxp ".dfxp") | [.srt](https://example.com/file.srt ".srt") | [.sub](https://example.com/file.sub ".sub") | [.sbv](https://example.com/file.sbv ".sbv") | [.scc](https://example.com/file.scc ".scc") | [.mks](https://example.com/file.mks ".mks")
  - Executables
    - [.deb](https://example.com/file.deb ".deb") | [.apk](https://example.com/file.apk ".apk") | [.exe](https://example.com/file.exe ".exe") | [.com](https://example.com/file.com ".com") | [.msi](https://example.com/file.msi ".msi")
  - Scripts
    - [.bat](https://example.com/file.bat ".bat") | [.sh](https://example.com/file.sh ".sh")
  - Fonts
    - [.woff](https://example.com/file.woff ".woff") | [.woff2](https://example.com/file.woff2 ".woff2") | [.otf](https://example.com/file.otf ".otf") | [.ttf](https://example.com/file.ttf ".ttf") | [.ttc](https://example.com/file.ttc ".ttc")
  - Compressed files
    - [.7z](https://example.com/file.7z ".7z") | [.7zip](https://example.com/file.7zip ".7zip") | [.tar](https://example.com/file.tar ".tar") | [.gz](https://example.com/file.gz ".gz") | [.gzip](https://example.com/file.gzip ".gzip") | [.bz2](https://example.com/file.bz2 ".bz2") | [.bzip2](https://example.com/file.bzip2 ".bzip2") | [.zip](https://example.com/file.zip ".zip") | [.rar](https://example.com/file.rar ".rar")
  - Disk images
    - [.img](https://example.com/file.img ".img") | [.iso](https://example.com/file.iso ".iso") | [.dmg](https://example.com/file.dmg ".dmg") | [.mds](https://example.com/file.mds ".mds") | [.mdf](https://example.com/file.mdf ".mdf") | [.mdx](https://example.com/file.mdx ".mdx")
  - Image editing
    - [.xcf](https://example.com/file.xcf ".xcf") | [.psd](https://example.com/file.psd ".psd")
*/ -}}
