{{- $url := .Destination -}}
{{- $external := ne (urls.Parse $url).Host (urls.Parse site.BaseURL).Host -}}

{{- $chat := or (strings.HasPrefix $url "irc") (strings.HasPrefix $url "xmpp") -}}
{{- $ftp := strings.HasPrefix $url "ftp" -}}
{{- $mail := strings.HasPrefix $url "mailto" -}}
{{- $magnet := strings.HasPrefix $url "magnet" -}}
{{- $remote := or (strings.HasPrefix $url "telnet") (strings.HasPrefix $url "ssh") (strings.HasPrefix $url "sftp") (strings.HasPrefix $url "git") (strings.HasPrefix $url "svn") -}}
{{- $tel := strings.HasPrefix $url "tel" -}}
{{- $books := or (strings.HasSuffix $url ".epub") (strings.HasSuffix $url ".mobi") -}}
{{- $docs := or (strings.HasSuffix $url ".pdf") (strings.HasSuffix $url ".txt") -}}
{{- $zip := or (strings.HasSuffix $url ".zip") (strings.HasSuffix $url ".7z") (strings.HasSuffix $url ".7zip") (strings.HasSuffix $url ".rar") (strings.HasSuffix $url ".tar") (strings.HasSuffix $url ".gz") (strings.HasSuffix $url ".gzip") -}}

{{- $icon := "" -}}
{{- if $chat -}}{{ $icon = "chat" }}
  {{- else if $ftp -}}{{ $icon = "ftp" }}
  {{- else if $mail -}}{{ $icon = "mail" }}
  {{- else if $magnet -}}{{ $icon = "magnet" }}
  {{- else if $remote -}}{{ $icon = "remote" }}
  {{- else if $tel -}}{{ $icon = "tel" }}
  {{- else if $books -}}{{ $icon = "books" }}
  {{- else if $docs -}}{{ $icon = "docs" }}
  {{- else if $zip -}}{{ $icon = "zip" }}
  {{- else if $external -}}{{ $icon = "external" }}
{{- end -}}
<a href="{{ $url | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}{{ with $icon }} class="icon_{{ . }}"{{ end }}{{ if $external }} rel="noopener external"{{ end }}>{{ .Text | safeHTML }}</a>

{{- /* TEST
  - [external](https://example.com)
  - [irc](irc://example.com)
  - [xmpp](xmpp://example.com)
  - [ftp](ftp://example.com)
  - [mail](mailto://example.com)
  - [magnet](magnet://example.com)
  - [telnet](telnet://example.com)
  - [ssh](ssh://example.com)
  - [sftp](sftp://example.com)
  - [git](git://example.com)
  - [svn](svn://example.com)
  - [tel](tel://example.com)
  - [pdf](https://example.com/file.pdf)
  - [txt](https://example.com/file.txt)
  - [epub](https://example.com/file.epub)
  - [mobi](https://example.com/file.mobi)
  - [zip](https://example.com/file.zip)
  - [7z](https://example.com/file.7z)
  - [7zip](https://example.com/file.7zip)
  - [rar](https://example.com/file.rar)
  - [tar](https://example.com/file.tar)
  - [gz](https://example.com/file.gz)
  - [tar.gz](https://example.com/file.tar.gz)
  - [gzip](https://example.com/file.gzip)
  - [tar.gzip](https://example.com/file.tar.gzip)
  */ -}}
