@charset "UTF-8";
/***
  * My personal styles and overrides
  *
  * Websites:
  *   * YourOnly.One™: https://YourOnly.One
  *
  * Contact:
  *   * Fediverse: https://quey.org/@techmagus | @techmagus@quey.org
  *   * Facebook: https://fb.me/techmagus | https://m.me/techmagus
***/

/***
  * yuki-style.css Copyright © 2003-2023 JC John Sese Cuneta
  *
  * Licenses: [1] MIT/Expat License; [2] MPL v2.0; [3] LGPLv3
  *
  * LICENSE: MIT License / Expat License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
  *
  * LICENSE: Mozilla Public License Version 2.0 ("MPL 2.0")
  *   This Source Code Form is subject to the terms of the Mozilla Public
  *   License, v. 2.0. If a copy of the MPL was not distributed with this
  *   file, You can obtain one at http://mozilla.org/MPL/2.0/.
  *
  * LICENSE: GNU LESSER GENERAL PUBLIC LICENSE Version 3 ("LGPLv3")
  *   This program is free software: you can redistribute it and/or modify
  *   it under the terms of the Lesser GNU General Public License as published by
  *   the Free Software Foundation, either version 3 of the License, or
  *   (at your option) any later version.
  *
  *   This program is distributed in the hope that it will be useful,
  *   but WITHOUT ANY WARRANTY; without even the implied warranty of
  *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  *   Lesser GNU General Public License for more details.
  *
  *   You should have received a copy of the Lesser GNU General Public License
  *   along with this program.  If not, see <http://www.gnu.org/licenses/>.
***/

/***
  * Other Attributions
  *
  * Embed Responsively: embedresponsively.com
  * Fork-Awesome
  * Twemoji
  * Cryptocoins (webfont/svg): https://github.com/AllienWorks/cryptocoins
***/

/***
  * Based on:
  *
  *   * CSS Color Module Level 4
  *      * WD, 2016-07-05
  *      * https://www.w3.org/TR/css-color-4/
  *      * https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/hwb
  *      * See: hwb()
  *   * CSS Color Module Level 3
  *      * REC, 2018-06-19
  *      * https://www.w3.org/TR/css-color-3/
  *
  *   * CSS Fonts Module Level 4
  *      * WD, 2018-09-20
  *      * https://www.w3.org/TR/css-fonts-4/
  *      * See: see paninap-fonts.css
  *   * CSS Fonts Module Level 3
  *      * REC, 2018-09-20
  *      * https://www.w3.org/TR/css-fonts-3/
  *
  *   * CSS Text Decoration Module Level 4
  *      * WD, 2018-03-13
  *      * https://www.w3.org/TR/css-text-decor-4/
  *      * See: text-decoration-skip -- not using currently
  *   * CSS Text Decoration Module Level 3
  *      * CR, 2018-07-03
  *      * https://www.w3.org/TR/css-text-decor-3/
  *      * See: text-decoration property
  *
  *   * CSS Custom Properties for Cascading Variables Module Level 1
  *      * CR, 2015-12-03
  *      * https://www.w3.org/TR/css-variables/
  *      * See: --font-sans and --font-serif, and var()
  *
  *   * Selectors Level 4
  *      * WD, 2018-11-21
  *      * https://www.w3.org/TR/selectors-4/
  *      * See: :dir() and :lang("*-Latn")
  *   * Selectors Level 3
  *      * REC, 2018-11-06
  *      * https://www.w3.org/TR/selectors-3/
  *      * See: :root, :first-child, :last-child
  *
***/

/***************
** BGN: :root **
***************/
  /***
    * Format:
    *   font-family: var(--CATEGORY-LANG/SCRIPT-VERSION-MOD);
    *   font-family: var(--font-pilipino-yelosan);
    *   font-family: var(--icon-creativecommons);
  ***/
  :root {
    -webkit-font-kerning: normal;
            font-kerning: normal;

    /* font-synthesis: */ /* only set per class/font/:lang() */
    /* font-variant-alternates: */ /* only set per class/font/:lang() */
    /* font-variant-caps: */ /* only set per class/font/:lang() */
    /* font-variant-east-asian: */ /* only set per class/font/:lang() */
    font-variant-emoji: unicode;
    /* font-variant-ligatures: */ /* only set per class/font/:lang() */
    font-variant-numeric: slashed-zero tabular-nums oldstyle-nums;
    /* font-variant-position: */ /* only set per class/font/:lang() */

    text-rendering: optimizeLegibility; /* for browsers that does not support geometricPrecision */
    text-rendering: geometricPrecision; /* only major browsers support this */
  }
/***************
** END: :root **
***************/

/**************
** BGN: LANG **
**************/
  /**
  * This is not a duplicate, this is where we customise the default fonts.
  **/
  /* :root, *, html, body, */
  :lang(en) {
    font-family: var(--font-sans-noto, var(--font-pilipino-sans-noto, var(--font-hebr-sans-noto, sans-serif)));
  }

  :lang(zh),
  :lang(zh-Hant) {
    font-family: var(--font-hant-sans-noto, var(--font-pilipino-sans-noto, var(--font-hebr-sans-noto, sans-serif)));
  }
  :lang(zh-Hans) {
    font-family: var(--font-hans-sans-noto, var(--font-pilipino-sans-noto, var(--font-hebr-sans-noto, sans-serif)));
  }

  :lang(ja) {
    font-family: var(--font-kana-sans-noto, var(--font-pilipino-sans-noto, var(--font-hebr-sans-noto, sans-serif)));
  }

  :lang(ko) {
    font-family: var(--font-hang-sans-noto, var(--font-pilipino-sans-noto, var(--font-hebr-sans-noto, sans-serif)));
  }

  :lang(he), :lang(heb), :lang(hbo) {
    font-family: var(--font-hebr-sans-noto, var(--font-pilipino-sans-noto, sans-serif));
  }

    /* BGN: Pilipino */
      /* BGN: Pilipino in Latin script */
        /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
          @supports not (selector(:lang(phi, fil, en-PH))) {
            :lang(pag), :lang(pam), :lang(war), :lang(bik), :lang(hil), :lang(ilo), :lang(ceb),
            :lang(tbw), :lang(bku), :lang(hnn), :lang(tl),
            :lang(phi), :lang(fil), :lang(en-PH) {
              font-family: var(--font-sans-noto);
            }
          }
        /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

        @supports selector(:lang(phi, fil, en-PH)) {
          :lang(pag, pam, war, bik, hil, ilo, ceb),
          :lang(tbw, bku, hnn, tl),
          :lang(phi, fil, en-PH) {
            font-family: var(--font-sans-noto);
          }
        }
      /* END: Pilipino in Latin script */

      /* BGN: Pilipino in Baybayin script */
        /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
          @supports not ((selector(:lang(phi-Tglg, fil-Tglg))) and (selector(:lang("\*-Tglg")))) {
            :lang(pag-Tglg), :lang(pam-Tglg), :lang(war-Tglg), :lang(bik-Tglg), :lang(hil-Tglg), :lang(ilo-Tglg), :lang(ceb-Tglg),
            :lang(tbw-Tglg), :lang(bku-Tglg), :lang(hnn-Tglg), :lang(tl-Tglg),
            :lang(phi-Tglg), :lang(fil-Tglg) {
              font-family: var(--font-pilipino-sans-noto, sans-serif);
            }
          }
          @supports not ((selector(:lang(phi-Hano, fil-Hano))) and (selector(:lang("\*-Hano")))) {
            :lang(pag-Hano), :lang(pam-Hano), :lang(war-Hano), :lang(bik-Hano), :lang(hil-Hano), :lang(ilo-Hano), :lang(ceb-Hano),
            :lang(tbw-Hano), :lang(bku-Hano), :lang(hnn-Hano), :lang(tl-Hano),
            :lang(phi-Hano), :lang(fil-Hano) {
              font-family: var(--font-pilipino-sans-noto, sans-serif);
            }
          }
          @supports not ((selector(:lang(phi-Buhd, fil-Buhd))) and (selector(:lang("\*-Buhd")))) {
            :lang(pag-Buhd), :lang(pam-Buhd), :lang(war-Buhd), :lang(bik-Buhd), :lang(hil-Buhd), :lang(ilo-Buhd), :lang(ceb-Buhd),
            :lang(tbw-Buhd), :lang(bku-Buhd), :lang(hnn-Buhd), :lang(tl-Buhd),
            :lang(phi-Buhd), :lang(fil-Buhd) {
              font-family: var(--font-pilipino-sans-noto, sans-serif);
            }
          }
          @supports not ((selector(:lang(phi-Tagb, fil-Tagb))) and (selector(:lang("\*-Tagb")))) {
            :lang(pag-Tagb), :lang(pam-Tagb), :lang(war-Tagb), :lang(bik-Tagb), :lang(hil-Tagb), :lang(ilo-Tagb), :lang(ceb-Tagb),
            :lang(tbw-Tagb), :lang(bku-Tagb), :lang(hnn-Tagb), :lang(tl-Tagb),
            :lang(phi-Tagb), :lang(fil-Tagb) {
              font-family: var(--font-pilipino-sans-noto, sans-serif);
            }
          }

          /* BGN: :lang(C, C, C) */
            @supports (selector(:lang(phi-Tglg, fil-Tglg))) and (not (selector(:lang("\*-Tglg")))) {
              :lang(pag-Tglg, pam-Tglg, war-Tglg, bik-Tglg, hil-Tglg, ilo-Tglg, ceb-Tglg),
              :lang(tbw-Tglg, bku-Tglg, hnn-Tglg, tl-Tglg),
              :lang(phi-Tglg, fil-Tglg) {
                font-family: var(--font-pilipino-sans-noto, sans-serif);
              }
            }
            @supports (selector(:lang(phi-Hano, fil-Hano))) and (not (selector(:lang("\*-Hano")))) {
              :lang(pag-Hano, pam-Hano, war-Hano, bik-Hano, hil-Hano, ilo-Hano, ceb-Hano),
              :lang(tbw-Hano, bku-Hano, hnn-Hano, tl-Hano),
              :lang(phi-Hano, fil-Hano) {
                font-family: var(--font-pilipino-sans-noto, sans-serif);
              }
            }
            @supports (selector(:lang(phi-Buhd, fil-Buhd))) and (not (selector(:lang("\*-Buhd")))) {
              :lang(pag-Buhd, pam-Buhd, war-Buhd, bik-Buhd, hil-Buhd, ilo-Buhd, ceb-Buhd),
              :lang(tbw-Buhd, bku-Buhd, hnn-Buhd, tl-Buhd),
              :lang(phi-Buhd, fil-Buhd) {
                font-family: var(--font-pilipino-sans-noto, sans-serif);
              }
            }
            @supports (selector(:lang(phi-Tagb, fil-Tagb))) and (not (selector(:lang("\*-Tagb")))) {
              :lang(pag-Tagb, pam-Tagb, war-Tagb, bik-Tagb, hil-Tagb, ilo-Tagb, ceb-Tagb),
              :lang(tbw-Tagb, bku-Tagb, hnn-Tagb, tl-Tagb),
              :lang(phi-Tagb, fil-Tagb) {
                font-family: var(--font-pilipino-sans-noto, sans-serif);
              }
            }
          /* END: :lang(C, C, C) */

          /* BGN: :lang("\*-C") */
            @supports (not (selector(:lang("\*-Tglg", "\*-Hano", "\*-Buhd", "\*-Tagb")))) and (selector(:lang("\*-Tglg"))) {
              :lang(\*-Tglg), :lang(\*-Hano), :lang(\*-Buhd), :lang(\*-Tagb) {
                font-family: var(--font-pilipino-sans-noto, sans-serif);
              }
            }
          /* END: :lang("\*-C") */
        /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

        /* BGN: :lang("\*-C", "\*-C", "\*-C") */
          @supports (selector(:lang("\*-Tglg", "\*-Hano", "\*-Buhd", "\*-Tagb"))) and (selector(:lang("\*-Tglg"))) {
            :lang(\*-Tglg, \*-Hano, \*-Buhd, \*-Tagb) {
              font-family: var(--font-pilipino-sans-noto, sans-serif);
            }
          }
        /* END: :lang("\*-C", "\*-C", "\*-C") */
      /* END: Pilipino in Baybayin script */
    /* END: Pilipino */

    /* BGN: Latin script */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not ((selector(:lang(yue-jyutping, zh-yue-jyutping))) and (selector(:lang("\*-Latn")))) {
          :lang(yue-jyutping), :lang(zh-yue-jyutping),
          :lang(zh-Latn),
          :lang(ja-Latn),
          :lang(ko-Latn),
          :lang(he-Latn), :lang(hbo-Latn),
          :lang(el-Latn), :lang(grc-Latn) {
            font-family: var(--font-sans-noto);
          }
        }

        /* BGN: :lang(C, C, C) */
          @supports (selector(:lang(yue-jyutping, zh-yue-jyutping))) and (not (selector(:lang("\*-Latn")))) {
            :lang(yue-jyutping, zh-yue-jyutping),
            :lang(zh-Latn, ja-Latn, ko-Latn),
            :lang(he-Latn, hbo-Latn),
            :lang(el-Latn, grc-Latn) {
              font-family: var(--font-sans-noto);
            }
          }
        /* END: :lang(C, C, C) */

        /* BGN: :lang("\*-C") */
          @supports (not (selector(:lang("\*-jyutping", "\*-Latn")))) and (selector(:lang("\*-Latn"))) {
            :lang(\*-jyutping),
            :lang(\*-Latn) {
              font-family: var(--font-sans-noto);
            }
          }
        /* END: :lang("\*-C") */
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      /* BGN: :lang("\*-C", "\*-C", "\*-C") */
        @supports (selector(:lang("\*-jyutping", "\*-Latn"))) and (selector(:lang("\*-Latn"))) {
          :lang(\*-jyutping, \*-Latn) {
            font-family: var(--font-sans-noto);
          }
        }
      /* END: :lang("\*-C", "\*-C", "\*-C") */
    /* END: Latin script */

    /* BGN: Hangeul (script) */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not ((selector(:lang(phi-Hang, fil-Hang))) and (selector(:lang("\*-Hang")))) {
          :lang(pag-Hang), :lang(pam-Hang), :lang(war-Hang), :lang(bik-Hang), :lang(hil-Hang), :lang(ilo-Hang), :lang(ceb-Hang),
          :lang(tbw-Hang), :lang(bku-Hang), :lang(hnn-Hang), :lang(tl-Hang),
          :lang(phi-Hang), :lang(fil-Hang) {
            font-family: var(--font-hang-sans-noto);
          }
        }

        /* BGN: :lang(C, C, C) */
          @supports (selector(:lang(phi-Hang, fil-Hang))) and (not (selector(:lang("\*-Hang")))) {
            :lang(pag-Hang, pam-Hang, war-Hang, bik-Hang, hil-Hang, ilo-Hang, ceb-Hang),
            :lang(tbw-Hang, bku-Hang, hnn-Hang, tl-Hang),
            :lang(phi-Hang, fil-Hang) {
              font-family: var(--font-hang-sans-noto);
            }
          }
        /* END: :lang(C, C, C) */
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      /* BGN: :lang("\*-C") */
        @supports selector(:lang("\*-Hang")) {
          :lang(\*-Hang) {
            font-family: var(--font-hang-sans-noto);
          }
        }
      /* END: :lang("\*-C") */
    /* END: Hangeul (script) */
/**************
** END: LANG **
**************/
