@charset "UTF-8";
/***
  * My personal styles and overrides
  *
  * Websites:
  *   * YourOnly.One™: https://YourOnly.One
  *
  * Contact:
  *   * Fediverse: https://quey.org/@techmagus | @techmagus@quey.org
  *   * Facebook: https://fb.me/techmagus | https://m.me/techmagus
***/

/***
  * yuki-style.css Copyright © 2003-2023 JC John Sese Cuneta
  *
  * Licenses: [1] MIT/Expat License; [2] MPL v2.0; [3] LGPLv3
  *
  * LICENSE: MIT License / Expat License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
  *
  * LICENSE: Mozilla Public License Version 2.0 ("MPL 2.0")
  *   This Source Code Form is subject to the terms of the Mozilla Public
  *   License, v. 2.0. If a copy of the MPL was not distributed with this
  *   file, You can obtain one at http://mozilla.org/MPL/2.0/.
  *
  * LICENSE: GNU LESSER GENERAL PUBLIC LICENSE Version 3 ("LGPLv3")
  *   This program is free software: you can redistribute it and/or modify
  *   it under the terms of the Lesser GNU General Public License as published by
  *   the Free Software Foundation, either version 3 of the License, or
  *   (at your option) any later version.
  *
  *   This program is distributed in the hope that it will be useful,
  *   but WITHOUT ANY WARRANTY; without even the implied warranty of
  *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  *   Lesser GNU General Public License for more details.
  *
  *   You should have received a copy of the Lesser GNU General Public License
  *   along with this program.  If not, see <http://www.gnu.org/licenses/>.
***/

/***
  * Other Attributions
  *
  * Embed Responsively: embedresponsively.com
  * Fork-Awesome
  * Twemoji
  * Cryptocoins (webfont/svg): https://github.com/AllienWorks/cryptocoins
***/

/***
  * Based on:
  *
  *   * CSS Color Module Level 5
  *      * WD, 2022-06-28
  *      * https://www.w3.org/TR/css-color-5/
  *
  *   * CSS Color Module Level 4
  *      * CR, 2022-11-01
  *      * https://www.w3.org/TR/css-color-4/
  *
  *   * CSS Color Module Level 3
  *      * REC, 2018-06-19
  *      * https://www.w3.org/TR/css-color-3/
  *
  *   * CSS Fonts Module Level 4
  *      * WD, 2018-09-20
  *      * https://www.w3.org/TR/css-fonts-4/
  *      * See: see paninap-fonts.css
  *
  *   * CSS Fonts Module Level 3
  *      * REC, 2018-09-20
  *      * https://www.w3.org/TR/css-fonts-3/
  *
  *   * CSS Text Decoration Module Level 4
  *      * WD, 2018-03-13
  *      * https://www.w3.org/TR/css-text-decor-4/
  *      * See: text-decoration-skip -- not using currently
  *
  *   * CSS Text Decoration Module Level 3
  *      * CR, 2018-07-03
  *      * https://www.w3.org/TR/css-text-decor-3/
  *      * See: text-decoration property
  *
  *   * CSS Custom Properties for Cascading Variables Module Level 1
  *      * CR, 2015-12-03
  *      * https://www.w3.org/TR/css-variables/
  *      * See: --font-sans and --font-serif, and var()
  *
  *   * Selectors Level 4
  *      * WD, 2018-11-21
  *      * https://www.w3.org/TR/selectors-4/
  *      * See: :dir() and :lang("*-Latn")
  *
  *   * Selectors Level 3
  *      * REC, 2018-11-06
  *      * https://www.w3.org/TR/selectors-3/
  *      * See: :root, :first-child, :last-child
  *
***/

/***
  * Notes:
  *
  * All colors must be:
  *   * hwb() -- our current base color format; do not use hex and rgb
  *   * lch() -- temporary only, until oklch() is widely supported
  *   * oklch()
  *
  * CSS Logical
  *   * https://www.w3.org/TR/css-logical-1/
  *   * https://css-tricks.com/css-logical-properties/
  *     * border-{block,inline}-{start,end}-{width,style,color}
  *     * margin-{block,inline}-{start,end}
  *     * padding-{block,inline}-{start,end}
***/

/***
** Color conversion tools:
**
**   * https://products.aspose.app/svg/color-converter/hwb-to-lch
**   * https://css.land/lch/
**   * https://lch.oklch.com
**   * https://oklch.com
***/


/******************************************************************************/
/******************************************************************************/

/************************
** BGN: COMMON CLASSES **
************************/
  /*** BGN: Alignments ***/
    html body {
      .grid_center.grid_center.grid_center {
        margin-inline-start: auto;
        margin-inline-end: auto;
      }

      .img_center.img_center.img_center {
        margin-inline-start: auto;
        margin-inline-end: auto;
      }

      .txt_center.txt_center.txt_center {
        text-align: center;
      }

      .txt_left.txt_left.txt_left {
        text-align: left;
      }

      .txt_right.txt_right.txt_right {
        text-align: right;
      }

      .txt_justify.txt_justify.txt_justify {
        text-align: justify;
      }

      .float_left.float_left.float_left {
        float: left;
      }

      .float_right.float_right.float_right {
        float: right;
      }

      figure {
        &.float_left.float_left.float_left {
          margin: 0 10px 5px 0;
        }

        &.float_right.float_right.float_right {
          margin: 0 0 5px 10px;
        }
      }

      .float_clear, .float_both_clear {
        clear: both;
      }

      .float_left_clear {
        clear: left;
      }

      .float_right_clear {
        clear: right;
      }
    }
  /*** END: Alignments ***/

  /*** BGN: Yuki footer ***/
    .global_footer {
      align-items: end;
      display: -ms-grid;
      display: grid;
      grid-gap: 0.35rem;
      grid-template-areas:  "best_viewed best_viewed best_viewed"
                            "menu_footer menu_footer menu_footer"
                            ". cc_icons ."
                            "copyleft copyleft copyleft"
                            "ypub permissions gfiles";
      -ms-grid-columns: auto 0.35rem 8fr 0.35rem auto;
      grid-template-columns: auto 8fr auto;
      -ms-grid-rows: auto 0.35rem auto 0.35rem auto 0.35rem auto;
      grid-template-rows: repeat(6, auto);

      div {
        &.best_viewed {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
          -ms-grid-column-span: 5;
          grid-area: best_viewed;
          /*
          grid-column-start: 1;
          grid-column-end: span end;
          grid-row: 1;
          */
        }

        &.menu_footer {
          -ms-grid-row: 3;
          -ms-grid-column: 1;
          -ms-grid-column-span: 5;
          grid-area: menu_footer;
          /*
          grid-column-start: 1;
          grid-column-end: span end;
          grid-row: 2;
          */
        }

        &.cc_icons {
          -ms-grid-row: 5;
          -ms-grid-column: 3;
          grid-area: cc_icons;
          /*
          grid-column-start: 1;
          grid-column-end: span end;
          grid-row: 3;
          */
        }

        &.copyleft {
          -ms-grid-row: 7;
          -ms-grid-column: 1;
          -ms-grid-column-span: 5;
          grid-area: copyleft;
          /*
          grid-row: 4;
          */
          margin-block: 1rem;
        }

        &.ypub {
          -ms-grid-row: 9;
          -ms-grid-column: 1;
          grid-area: ypub;
          /*
          grid-row: 4;
          justify-self: start;
          */
        }

        &.permissions {
          -ms-grid-row: 9;
          -ms-grid-column: 3;
          grid-area: permissions;
          /*
          grid-row: 4;
          */
        }

        &.gfiles {
          -ms-grid-row: 9;
          -ms-grid-column: 5;
          grid-area: gfiles;
          /*
          grid-row: 4;
          justify-content: end;
          */
        }
      }

      a {
        text-decoration: none;
      }

      /* HACK: hackish but this is the easiest way to update the browser versions */
      > div.best_viewed > b {
        &:nth-child(2) > a::after {
          content: " 86+";
        }

        &:nth-child(4) > a::after {
          content: " 29+";
        }
      }
    }

    /* Copyleft */
    .gfiles, .copyleft, .permissions {
      -webkit-text-decoration-line: none;
              text-decoration-line: none;

      a {
        -webkit-text-decoration-line: none;
                text-decoration-line: none;
      }
    }
  /*** END: Yuki footer ***/
/************************
** END: COMMON CLASSES **
************************/

/*********************************************************
** BGN: Additional styles for Fork Awesome and cc-icons **
*********************************************************/
  /* BGN: Sizes */
    .fa-xs, .cc-xs { font-size: .75em; }
    .fa-sm, .cc-sm { font-size: .875em; }
    .fa-1x, .cc-1x { font-size: 1em; }
    .fa-2x, .cc-2x { font-size: 2em; }
    .fa-3x, .cc-3x { font-size: 3em; }
    .fa-4x, .cc-4x { font-size: 4em; }
    .fa-5x, .cc-5x { font-size: 5em; }
    .fa-6x, .cc-6x { font-size: 6em; }
    .fa-7x, .cc-7x { font-size: 7em; }
    .fa-8x, .cc-8x { font-size: 8em; }
    .fa-9x, .cc-9x { font-size: 9em; }
    .fa-10x, .cc-10x { font-size: 10em; }
  /* END: Sizes */

  /* Remove underlines */
  html > body .cc_icons > a {
    text-decoration: none;
    border-bottom: none
  }
/*********************************************************
** END: Additional styles for Fork Awesome and cc-icons **
*********************************************************/

/*******************************
** BGN: embedresponsively.com **
*******************************/
  /*
   * .embed-container is too generic, causing conflicts elsewhere
   *   Changed to .responsive_embedframe
   *   Old: .rspnsv-embedframe
   *
   * <div class="responsive_embedframe"><iframe anonymous src="https://www.youtube-nocookie.com/embed/" sandbox="allow-same-origin allow-scripts" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; fullscreen"></iframe></div>
   */
  .rspnsv-embedframe, .responsive_embedframe {
    /* content-visibility: auto; */
    /* contain-intrinsic-size: auto; */
    position: relative;
    padding-bottom: 56.25%; /* YouTube, Vimeo, Dailymotion, Google Maps, Generic */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .rspnsv-embedframe.instagram, .responsive_embedframe.instagram {
    padding-bottom: 120%; /* Instagram */
  }

  .rspnsv-embedframe.vine, .responsive_embedframe.vine {
    padding-bottom: 100%; /* Vine */
  }

  .rspnsv-embedframe.gettyimages, .responsive_embedframe.gettyimages {
    padding-bottom: 79.96632996632997%; /* Getty Images */
  }

  .rspnsv-embedframe.generic2, .responsive_embedframe.generic2 {
    position: relative;
    padding-bottom: initial; /* Generic2 */
    /* height: 0; */
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .rspnsv-embedframe, .responsive_embedframe {
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
/*******************************
** END: embedresponsively.com **
*******************************/

/******************************************************************************/
/******************************************************************************/

/*******************
** BGN: ACCORDION **
*******************/
  /* Usually used for FAQ and spoilers; show/hide */
  details.style01 {
    border: 1px solid;
    border-radius: 7px;
    box-shadow: 1px 1px 1px;
    margin: 10px 0;
    padding: 0.5em 0;

    &[open] > summary {}

    > {
      summary {
        display: list-item;
        font-weight: bold;
        list-style-position: inside;
        cursor: pointer;
        margin: 0;
        padding: 0 0.5em;

        &.faq::marker {
          color: var(--color-red);
          content: "Q: ";
          font-weight: bold;
        }
      }

      div {
        display: inline flow-root;
        margin: 0.7em 0 0 0;
        padding: 0 1.7em;

        &.faq > p:first-of-type {
          display: list-item;
          list-style-position: inside;

          &::marker {
            color: var(--color-blue);
            content: "A: ";
            font-weight: bold;
          }
        }
      }
    }
  }

  /* Interviews; show/hide */
  details.style02 {
    border: 1px solid;
    border-radius: 7px;
    box-shadow: 1px 1px 1px;
    margin: 10px 0;
    padding: 0.5em 0;

    &[open] > summary {}

    > {
      summary {
        display: list-item;
        font-weight: bold;
        list-style-position: inside;
        cursor: pointer;
        margin: 0;
        padding: 0 0.5em;

        &.faq::marker {
          color: var(--color-red);
          content: "Q: ";
          font-weight: bold;
        }
      }

      div {
        display: inline flow-root;
        margin: 0.7em 0 0 0;
        padding: 0 1.7em;

        &.faq {
          /* width: 100%; */

          > p:first-of-type {
            display: list-item;
            list-style-position: inside;

            &::marker {
              color: var(--color-blue);
              content: "A: ";
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  :lang(ja) details > {
    summary.faq::marker {
      color: var(--color-red);
      content: "質問： ";
      font-weight: bold;
    }

    div.faq > p:first-of-type::marker {
      color: var(--color-blue);
      content: "答え： ";
      font-weight: bold;
    }
  }

  :lang(ko) details > {
    summary.faq::marker {
      color: var(--color-red);
      content: "문제: ";
      font-weight: bold;
    }

    div.faq > p:first-of-type::marker {
      color: var(--color-blue);
      content: "답변: ";
      font-weight: bold;
    }
  }
/*******************
** END: ACCORDION **
*******************/

/*********************
** BGN: Attribution **
*********************/
  /** Notes
    ****************************************************************************
    * I. blockquote, code, and anything "quoted" which is directly related to the article
    *     see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure
    *
      <figure class="quote_box">
        <blockquote>
          <p>Long quote</p>
          <p>Long quote</p>
        </blockquote>

        <figcaption class="attribution_name txt_right">
          <p><cite>Source title</cite> by Author name</p>
        </figcaption>
      </figure>
    ****************************************************************************
    * II. If the image is related to the article like a gallery
    *       * replace with <aside> as needed
    *           * then replace figcaption with footer
    *
      <figure class="figure_box">
        <div>
          <img loading="lazy" src="image.webp">
          <img loading="lazy" src="image.webp">
        </div>

        <figcaption class="attribution_caption txt_center">
          <p><small>Image attribution</small></p>
        </figcaption>
      </figure>
    ****************************************************************************
    * III. If the image is not related to the article
    *
      <div class="figure_box">
        <div>
          <img loading="lazy" src="image.webp">
          <img loading="lazy" src="image.webp">
        </div>

        <footer class="attribution_caption txt_center">
          <p><small>Image attribution</small></p>
        </footer>
      </div>
    ****************************************************************************
    * IV. Header image/video attribution
    *
      <div class="header_attribution">
        <footer class="attribution_caption">
          <p><small>Image attribution</small></p>
        </footer>
      </div>
    ****************************************************************************
  **/
  html body {
    .quote_box, .figure_box {
      /* content-visibility: auto; */
      /* contain-intrinsic-size: auto; */
    }

    /* BGN: Remove browser and theme styles */
      figure.quote_box.quote_box.quote_box, aside.quote_box.quote_box.quote_box, div.quote_box.quote_box.quote_box,
      aside.figure_box, div.figure_box,
      .attribution_name > p, .attribution_copyright > p,
      .caption_txt > p {
        margin: 0;
        padding: 0;
        text-align: unset;
      }

      figure, aside, div {
        &.quote_box.quote_box.quote_box > {
          div, blockquote {
            background-color: unset;
            border: initial;
            color: unset;
            font-size: unset;
            font-style: unset;
            line-height: normal;
            width: initial;

            &::before, &::after {
              content: unset;
            }
          }
        }
      }
    /* END: Remove browser and theme styles */

    /* BGN: Add margins */
      figure.quote_box.quote_box.quote_box, aside.quote_box.quote_box.quote_box, div.quote_box.quote_box.quote_box, aside.figure_box, div.figure_box {
        margin: 1rem auto; /* Margin between blockquotes and center */
        padding: 0 2rem;
      }

      figure, aside, div {
        &.quote_box.quote_box.quote_box > {
          div, blockquote {
            margin: 1rem; /* margin of text inside */
            padding: 0;
            position: relative;
          }
        }
      }
    /* END: Add margins */

    .attribution_name > p::before {
      content: "\2015"; /* horizontal bar; quotation dash as per https://unicode.org/charts/PDF/U2000.pdf */
    }

    .attribution_copyright, .caption_txt {
      color: unset;
      line-height: normal;
      margin-bottom: 23px;

      > p > small {
        /* font-size: 0.84rem; */
        font-size: 0.73em;
        /* font-size: x-small; */
      }
    }
  }

  /* BGN: .quote_box Styles */
    /** Notes
      * .quote_box Styles
          * qbs_generic
          * qbs_stanza
          * qbs_verse01
          * qbs_interview
      *
      * .quote_box Quotation Marks
          * qbm_doublequotationmark
      *
      * .quote_box Blockquote Colours
          * qbc_cgm
          * qbc_grey-light
          * qbc_silver
          * qbc_white
          * qbc_red
          * qbc_lime
          * qbc_green
          * qbc_indigo-dye
          * qbc_bluemidnight
          * qbc_blue
          * qbc_aqua, qbc_cyan
          * qbc_fuchsia, qbc_magenta
          * qbc_yellow
          * qbc_orange
          * qbc_gold
          * qbc_pink
          * qbc_brown
          * qbc_brown-medium-dark
          * qbc_facebook
          * qbc_twitter
          * qbc_googleplus
          * qbc_ubuntu
          * qbc_mastodon
          * qbc_hubzilla
    **/

    /* BGN: .quote_box Styles */
      /* BGN: set our own style */
        html body .quote_box.qbs_generic,
        html body .figure_box.qbs_generic {
          border-radius: 10px;
          border-style: double;
          border-width: 4px;
          margin: 1rem auto;
          padding-left: 2.44rem;
          padding-right: 2.44rem;
          position: relative;
          quotes: '\201C' '\201D' '\2018' '\2019';
          width: 80%;
        }
        /** TODO: CREATE A NEW STYLE
          *
          * Currently mostly a copy of .qbs_generic
          *
        **/
        html body .quote_box.qbs_stanza,
        html body .figure_box.qbs_stanza {
          border-radius: 10px;
          border-style: dotted;
          border-width: 4px;
          margin: 1rem auto;
          padding-left: 2.44rem;
          padding-right: 2.44rem;
          position: relative;
          quotes: '\201C' '\201D' '\2018' '\2019';
          width: 67%;
        }
        html body .quote_box.qbs_verse01,
        html body .figure_box.qbs_verse01 {
          /* border-radius: 0.5rem 1.7rem 0.5rem 1.7rem; */
          border-radius: 5px 17px 5px 17px;
          border-style: dashed;
          border-width: 4px;
          box-shadow: hwb(0 0% 100% / 50%) 7px 7px;
          margin: 1rem auto;
          padding-left: 2.44rem;
          padding-right: 2.44rem;
          position: relative;
          quotes: '\201C' '\201D' '\2018' '\2019';
          width: 80%;
        }
        html body .quote_box.qbs_interview,
        html body .figure_box.qbs_interview {
          border-radius: 10px;
          border-style: double;
          border-width: 4px;
          margin: 1rem auto;
          padding-left: 2.44rem;
          padding-right: 2.44rem;
          position: relative;
          quotes: '\201C' '\201D' '\2018' '\2019';
          width: auto;
        }
      /* END: set our own style */
    /* END: .quote_box Styles */

    /* BGN: .quote_box Quotation Marks */
      html body .qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark::before,
      html body .qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark::after {
        /* Let's leave the styling to the theme for now.
          color: hwb(0deg 48% 52% / 100%);
          color: lch();
          color: oklch();
        */
        font-family: var(--font-serif-noto);
        font-size: 3rem;
        position: absolute;
      }
      html body .qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark::before {
        content: "\201c";
        inset-block-start: -0.4em;
        inset-inline-start: -0.8em;
      }
      html body .qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark::after {
        content: "\201d";
        inset-block-end: -0.88em;
        inset-inline-end: -0.8em;
      }

      html body :lang(en-ph) .qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark::before,
      html body :lang(fil) .qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark::before {
        content: open-quote;
        inset-block-start: -0.7em;
        inset-inline-start: -0.8em;
      }
      html body :lang(en-ph) .qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark::after,
      html body :lang(fil) .qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark::after {
        content: close-quote;
        inset-block-end: -0.7em;
        inset-inline-end: -0.8em;
      }

      html body :lang(ja) .qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark::before {
        content: open-quote;
        inset-block-start: -0.4em;
        /* inset-inline-start: -0.8em; */ /* Firefox */
        /* inset-inline-start: -1.2em; */ /* Chromium */
        inset-inline-start: -1.0em;
      }
      html body :lang(ja) .qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark::after {
        content: close-quote;
        inset-block-end: -0.4em;
        /* inset-inline-end: -0.8em; */ /* Firefox */
        /* inset-inline-end: -1.2em; */ /* Chromium */
        inset-inline-end: -1.0em;
      }

      html body :lang(ko) .qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark::before {
        content: open-quote;
        inset-block-start: -0.4em;
        /* inset-inline-start: -0.8em; */ /* Firefox */
        /* inset-inline-start: -1.2em; */ /* Chromium */
        inset-inline-start: -1.0em;
      }
      html body :lang(ko) .qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark.qbm_doublequotationmark::after {
        content: close-quote;
        inset-block-end: -0.4em;
        /* inset-inline-end: -0.8em; */ /* Firefox */
        /* inset-inline-end: -1.2em; */ /* Chromium */
        inset-inline-end: -1.0em;
      }
    /* END: .quote_box Quotation Marks */

    /* BGN: .quote_box Colours */
      /** Notes
        * deep indigo ("blueviolet") - #8A2BE2 138, 43, 226
        *   * brighter than pigment indigo
        * pigment indigo ("indigo") - #4B0082 75, 0, 130
        * indigo dye - #00416A 0, 65, 106
        *   * actual color of the indigo dye
        *   * greenish dark blue
        *   * approximately "midnight-blue" - #191970 25, 25, 112
        *       * similar to "navy" - #000080 0, 0, 128
        * "darkblue" - #00008B 0, 0, 139
      **/
      /* BGN: Generic colours */
        html body .quote_box.qbc_black,
        html body .figure_box.qbc_black  {
          background-color: var(--color-black-bg);
          border-color: var(--color-black);
        }
        html body .quote_box.qbc_grey-light,
        html body .figure_box.qbc_grey-light {
          background-color: var(--color-grey-light-bg);
          border-color: var(--color-grey-light);
        }
        html body .quote_box.qbc_silver,
        html body .figure_box.qbc_silver {
          background-color: var(--color-silver-bg);
          border-color: var(--color-silver);
        }
        html body .quote_box.qbc_white,
        html body .figure_box.qbc_white {
          background-color: var(--color-white-bg);
          border-color: var(--color-white);
        }
        html body .quote_box.qbc_red,
        html body .figure_box.qbc_red {
          background-color: var(--color-red-bg);
          border-color: var(--color-red);
        }
        html body .quote_box.qbc_lime,
        html body .figure_box.qbc_lime {
          background-color: var(--color-lime-bg);
          border-color: var(--color-lime);
        }
        html body .quote_box.qbc_green,
        html body .figure_box.qbc_green {
          background-color: var(--color-green-bg);
          border-color: var(--color-green);
        }
        html body .quote_box.qbc_blue,
        html body .figure_box.qbc_blue {
          background-color: var(--color-blue-bg);
          border-color: var(--color-blue);
        }
        html body .quote_box.qbc_indigo-dye,
        html body .figure_box.qbc_indigo-dye {
          background-color: var(--color-indigo-dye-bg);
          border-color: var(--color-indigo-dye);
        }
        html body .quote_box.qbc_blue-midnight,
        html body .figure_box.qbc_blue-midnight {
          background-color: var(--color-blue-midnight-bg);
          border-color: var(--color-blue-midnight);
        }
        html body .quote_box.qbc_aqua,
        html body .figure_box.qbc_aqua {
          background-color: var(--color-aqua-bg);
          border-color: var(--color-aqua);
        }
        html body .quote_box.qbc_fuchsia,
        html body .figure_box.qbc_fuchsia,
        html body .quote_box.qbc_magenta,
        html body .figure_box.qbc_magenta {
          background-color: var(--color-magenta-bg);
          border-color: var(--color-magenta);
        }
        html body .quote_box.qbc_yellow,
        html body .figure_box.qbc_yellow {
          background-color: var(--color-yellow-bg);
          border-color: var(--color-yellow);
        }
        html body .quote_box.qbc_orange,
        html body .figure_box.qbc_orange {
          background-color: var(--color-orange-bg);
          border-color: var(--color-orange);
        }
        html body .quote_box.qbc_gold,
        html body .figure_box.qbc_gold {
          background-color: var(--color-gold-bg);
          border-color: var(--color-gold);
        }
        html body .quote_box.qbc_pink,
        html body .figure_box.qbc_pink {
          background-color: var(--color-pink-bg);
          border-color: var(--color-pink);
        }

        html body .quote_box.qbc_brown,
        html body .figure_box.qbc_brown {
          background-color: var(--color-brown-bg);
          border-color: var(--color-brown);
        }
        html body .quote_box.qbc_brown-medium-dark,
        html body .figure_box.qbc_brown-medium-dark {
          background-color: var(--color-brown-medium-dark-bg);
          border-color: var(--color-brown-medium-dark);
        }
      /* END: Generic colours */

      /* BGN: Brand colours */
        html body .quote_box.qbc_facebook,
        html body .figure_box.qbc_facebook {
          background-color: var(--color-facebook-bg);
          border-color: var(--color-facebook);
        }
        html body .quote_box.qbc_twitter,
        html body .figure_box.qbc_twitter {
          background-color: var(--color-twitter-bg);
          border-color: var(--color-twitter);
        }
        html body .quote_box.qbc_googleplus,
        html body .figure_box.qbc_googleplus {
          background-color: var(--color-googleplus-bg);
          border-color: var(--color-googleplus);
        }
        html body .quote_box.qbc_ubuntu,
        html body .figure_box.qbc_ubuntu {
          background-color: var(--color-ubuntu-bg);
          border-color: var(--color-ubuntu);
        }
        html body .quote_box.qbc_mastodon,
        html body .figure_box.qbc_mastodon {
          background-color: var(--color-mastodon-bg);
          border-color: var(--color-mastodon);
        }
        html body .quote_box.qbc_hubzilla,
        html body .figure_box.qbc_hubzilla {
          background-color: var(--color-hubzilla-bg);
          border-color: var(--color-hubzilla);
        }
      /* END: Brand colours */

      /* BGN: Special custom colours */
        html body .quote_box.qbc_cm,
        html body .figure_box.qbc_cm,
        html body .quote_box.qbc_gm,
        html body .figure_box.qbc_gm,
        html body .quote_box.qbc_cgm,
        html body .figure_boxx.qbc_cgm {
          background-color: var(--color-cgm-bg);
          border-color: var(--color-cgm);
        }
      /* END: Special custom colours */
    /* END: .quote_box Colours */
  /* END: .quote_box Styles */
/*********************
** END: Attribution **
*********************/

/**********************
** BGN: Table styles **
**********************/
  table.verified {
    border: 1px solid;
    max-width: 100%;
    width: 100%;
    box-shadow: 4px 4px 4px var(--color-blue-midnight);
  }
  table.verified th {
    border: 1px outset;
    text-align: center;
  }
  table.verified th:first-child {
    min-width: 14%;
  }
  table.verified th:nth-child(3),
  table.verified th:nth-child(4),
  table.verified th:nth-child(5) {
    min-width: 12%;
  }
  table.verified tr:not(:last-child) td {
    border-bottom: 1px inset;
  }
  table.verified td:not(:last-child) {
    border-right: 1px inset;
  }
  table.verified td {
    text-aligin: left;
  }
  table.verified td:nth-child(3),
  table.verified td:nth-child(4),
  table.verified td:nth-child(5) {
    text-align: center;
  }
/**********************
** END: Table styles **
**********************/

/**********************
** BGN: Custom Lists **
**********************/
  /* remove list style */
  .list-style-type-none {
    list-style-type: none;
  }

  .note {
    display: list-item;
    list-style-position: inside;
    font-size: smaller;

    &::marker {
      content: "Note：";
    }
  }

  :lang(zh) .note::marker,
  .note:lang(zh)::marker {
    content: "註解：";
  }
  :lang(zh-Hans) .note::marker,
  .note:lang(zh-Hans)::marker {
    content: "注释：";
  }

  :lang(ja) .note::marker,
  .note:lang(ja)::marker {
    content: "注解：";
  }

  :lang(ko) .note::marker,
  .note:lang(ko)::marker {
    content: "주해：";
  }

  .notecounter {
    display: list-item;
    counter-increment: note-counter;
    list-style-position: inside;
    font-size: smaller;

    &::marker {
      content: "Note (" counter(note-counter) ")：";
    }
  }

  :lang(zh) .notecounter::marker,
  .notecounter:lang(zh)::marker {
    content: "註解（" counter(note-counter, trad-chinese-informal) "）：";
  }
  :lang(zh-Hans) .notecounter::marker,
  .notecounter:lang(zh-Hans)::marker {
    content: "注释（" counter(note-counter, simp-chinese-informal) "）：";
  }

  :lang(ja) .notecounter::marker,
  .notecounter:lang(ja)::marker {
    content: "注解（" counter(note-counter, japanese-informal) "）：";
  }

  :lang(ko) .notecounter::marker,
  .notecounter:lang(ko)::marker {
    content: "주해（" counter(note-counter, korean-hangul-formal) "）：";
  }

  ul {
    &[class^="cul-"] {
      display: list-item;
      list-style-position: inside;
    }

    &.cul-checkmark-heavy {
      content: "\2714";

      /* heavy check mark */
    }

    &.cul-checkmark-light {
      content: "\1F5F8";

      /* light check mark */
    }
  }
/**********************
** END: Custom Lists **
**********************/

/*************************************************
** BGN: Colours for Backgrounds, Lists, & Texts **
*************************************************/
  /*
   * Colour override order (.list- & .text-)
   *   red < green < blue < yellow < gold < magenta < pink
   *
   * Background (.list-bg-)
   *   grey-light > silver
   *
   * Custom List Style element override order: UL-level < LI-level
   */
  /* Background Colours */
  ol.custom_liststyle.list-bg-grey-light > li {
    background-color: var(--color-grey-light);
  }
  ol.custom_liststyle.list-bg-silver > li {
    background-color: var(--color-silver);
  }

  /* custom_liststyle: UL-level only */
  /* BGN: Generic colours */
    ul.custom_liststyle.list-black > li::before {
      color: var(--color-black);
    }
    ul.custom_liststyle.list-white > li::before {
      color: var(--color-white);
    }
    ul.custom_liststyle.list-red > li::before {
      color: var(--color-red);
    }
    ul.custom_liststyle.list-lime > li::before {
      color: var(--color-lime);
    }
    ul.custom_liststyle.list-green > li::before {
      color: var(--color-green);
    }
    ul.custom_liststyle.list-blue > li::before {
      color: var(--color-blue);
    }
    ul.custom_liststyle.list-aqua > li::before {
      color: var(--color-aqua);
    }
    ul.custom_liststyle.list-fuchsia > li::before,
    ul.custom_liststyle.list-magenta > li::before {
      color: var(--color-magenta);
    }
    ul.custom_liststyle.list-yellow > li::before {
      color: var(--color-yellow);
    }
    ul.custom_liststyle.list-orange > li::before {
      color: var(--color-orange);
    }
    ul.custom_liststyle.list-gold > li::before {
      color: var(--color-gold);
    }
    ul.custom_liststyle.list-pink > li::before {
      color: var(--color-pink);
    }
    ul.custom_liststyle.list-brown > li::before {
      color: var(--color-brown);
    }
    ul.custom_liststyle.list-brown-medium-dark > li::before {
      color: var(--color-brown-medium-dark);
    }
  /* END: Generic colours */

  /* BGN: Brand colours */
    ul.custom_liststyle.list-facebook > li::before {
      color: var(--color-facebook);
    }
    ul.custom_liststyle.list-twitter > li::before {
      color: var(--color-twitter);
    }
    ul.custom_liststyle.list-googleplus > li::before {
      color: var(--color-googleplus);
    }
    ul.custom_liststyle.list-ubuntu > li::before {
      color: var(--color-ubuntu);
    }
    ul.custom_liststyle.list-mastodon > li::before {
      color: var(--color-mastodon);
    }
    ul.custom_liststyle.list-hubzilla > li::before {
      color: var(--color-hubzilla);
    }
  /* END: Brand colours */

  /**
    * Custom List Style notes:
    *   1. To make colour override work in custom_liststyle
    *       we have to separate the LI-level colours.
    *   2. Chained classes for custom_liststyle is not an option.
    *       It will color the text as well.
    *
    * TEXT colour note:
    *   1. Generic class names like .red, .green, and .blue are not advisable.
    *       These are too common, other CSS files might be using the same.
  **/
  /* BGN: Generic colours */
    ul.custom_liststyle > li.list-black::before,
    .text-black {
      color: var(--color-black);
    }
    ul.custom_liststyle > li.list-white::before,
    .text-white {
      color: var(--color-white);
    }
    ul.custom_liststyle > li.list-red::before,
    .text-red {
      color: var(--color-red);
    }
    ul.custom_liststyle > li.list-lime::before,
    .text-lime {
      color: var(--color-lime);
    }
    ul.custom_liststyle > li.list-green::before,
    .text-green {
      color: var(--color-green);
    }
    ul.custom_liststyle > li.list-blue::before,
    .text-blue {
      color: var(--color-blue);
    }
    ul.custom_liststyle > li.list-aqua::before,
    .text-aqua {
      color: var(--color-aqua);
    }
    ul.custom_liststyle > li.list-fuchsia::before,
    ul.custom_liststyle > li.list-magenta::before,
    .text-fuchsia,
    .text-magenta {
      color: var(--color-magenta);
    }
    ul.custom_liststyle > li.list-yellow::before,
    .text-yellow {
      color: var(--color-yellow);
    }
    ul.custom_liststyle > li.list-orange::before,
    .text-orange {
      color: var(--color-orange);
    }
    ul.custom_liststyle > li.list-gold::before,
    .text-gold {
      color: var(--color-gold);
    }
    ul.custom_liststyle > li.list-pink::before,
    .text-pink {
      color: var(--color-pink);
    }
    ul.custom_liststyle > li.list-brown::before,
    .text-brown {
      color: var(--color-brown);
    }
    ul.custom_liststyle > li.list-brown-medium-dark::before,
    .text-brown-medium-dark {
      color: var(--color-brown-medium-dark);
    }
  /* END: Generic colours */

  /* BGN: Brand colours */
    ul.custom_liststyle > li.list-facebook::before,
    .text-facebook {
      color: var(--color-facebook);
    }
    ul.custom_liststyle > li.list-twitter::before,
    .text-twitter {
      color: var(--color-twitter);
    }
    ul.custom_liststyle > li.list-googleplus::before,
    .text-googleplus {
      color: var(--color-googleplus);
    }
    ul.custom_liststyle > li.list-ubuntu::before,
    .text-ubuntu {
      color: var(--color-ubuntu);
    }
    ul.custom_liststyle > li.list-mastodon::before,
    .text-mastodon {
      color: var(--color-mastodon);
    }
    ul.custom_liststyle > li.list-hubzilla::before,
    .text-hubzilla {
      color: var(--color-hubzilla);
    }
  /* END: Brand colours */

  /* BGN: Special custom colours */
    .text-cm, .text-gm, .text-cgm {
      color: var(--color-cgm);
      font-weight: bold;
    }
    .text-guide {
      color: var(--color-red);
      font-weight: bold;
    }
  /* END: Special custom colours */
/*************************************************
** END: Colours for Backgrounds, Lists, & Texts **
*************************************************/

/********************
** BGN: webmention **
********************/
  #webmentions {
    /* content-visibility: auto; */
    /* contain-intrinsic-size: auto; */
  }

  #webmentions {
    margin: 0;

    h2 {
      font-size: medium;
      /* margin-top: 0; */
      padding: 2px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 4px;
    }

    li.reaction_mention {
      /* margin: 123px; */
      display: inline flow-root;
    }

    a {
      border-bottom: none;

      &.reaction {
        /* margin: 123px; */

        img {
          border-radius: 25%;
          text-decoration: none;
        }

        sub {
          font-size: 50%;
        }
      }
    }

    .reacts {
      img {
        display: inline flow-root;
        margin: 3px -1ex 1px 0;
      }

      a.reaction {
        img {
          max-height: 2.0em;
        }

        .emoji {
          font-size: 1.1em;
          margin-left: -5px;
          vertical-align: text-bottom;
        }
      }
    }

    .comments {
      /* margin: 123px; */

      li {
        /* margin: 123px; */

        .name, .text {
          text-indent: -1.2em;
          /* padding-left: 3em; */
        }
      }

      a.reaction {
        img {
          max-height: 3.0em;
        }

        .emoji {
          font-size: 1.3em;
        }
      }
    }
  }

  /* BGN: Speech bubble style-01 by https://codepen.io/rikschennink/pen/mjywQb */
    #webmentions .comments li .text {
      /* layout */
      position: relative;
      max-width: 90%;
      margin-left: 5%;

      /* looks */
      /* background-color: #fff; */
      padding: 1.125em 2.5em;
      border-radius: 1rem;
      box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);

      &::before {
        /* layout */
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        left: 2.4em;

        /* offset should move with padding of parent */
        border: .75rem solid transparent;
        border-top: none;

        /* looks */
        /* border-bottom-color: #fff; */
        -webkit-filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
                filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
      }
    }
  /* END: Speech bubble style-01 */
/********************
** BGN: webmention **
********************/

/********************
** BGN: Link icons **
********************/
  [class^="icon_"]::after {
    display: inline flow-root;
    text-decoration: none;
    white-space: pre-wrap;
    margin-left: 0.25em;
    width: 1em;
  }
  .icon_external::after     { content: "\1F517";                                    /* 🔗 */ }

  .icon_chat::after         { content: "\1F4AC";                                    /* 💬 */ }
  .icon_ftp::after          { content: "\2194\FE0F";                                /* ↔️ */ }
  .icon_magnet::after       { content: "\1F9F2";                                    /* 🧲 */ }
  .icon_mail::after         { content: "\1F4E7";                                    /* 📧 */ }
  .icon_remote::after       { content: "\1F4BB";                                    /* 💻 */ }
  .icon_tel::after          { content: "\260E\FE0F";                                /* ☎️ */ }

  .icon_books::after        { content: "\1F4D6";                                    /* 📖 */ }
  .icon_document::after     { content: "\1F4C4";                                    /* 📄 */ }
  .icon_text::after         { content: "\1F4DD";                                    /* 📝 */ }
  .icon_presentation::after { content: url("../img/link-icons-presentation.svg");   /* https://openclipart.org/detail/36505/tango-x-office-presentation */ }
  .icon_spreadsheet::after  { content: url("../img/link-icons-spreadsheet.svg");    /* https://openclipart.org/detail/36517/tango-x-office-spreadsheet */ }

  .icon_audio::after        { content: "\1F3B5";                                    /* 🎵 */ }
  .icon_video::after        { content: "\1F4FD\FE0F";                               /* 📽️ */ }
  .icon_subtitle::after     { content: url("../img/link-icons-subtitle.svg");       /* https://openclipart.org/detail/212110/mimetype-subtitle */ }

  .icon_executable::after   { content: url("../img/link-icons-executable.svg");     /* https://openclipart.org/detail/212161/mimetype-binary */ }
  .icon_scripts::after      { content: url("../img/link-icons-scripts.svg");        /* https://openclipart.org/detail/36175/tango-text-x-script */ }

  .icon_fonts::after        { content: url("../img/link-icons-fonts.svg");          /* https://openclipart.org/detail/35257/tango-preferences-desktop-font */ }
  .icon_compressed::after   { content: "\1F5DC\FE0F";                               /* 🗜️ */ }
  .icon_diskimage::after    { content: "\1F4BD";                                    /* 💽 */ }
  .icon_imagediting::after  { content: url("../img/link-icons-imageediting.svg");   /* https://openclipart.org/detail/231061/artists-brush-and-paint */ }
/********************
** END: Link icons **
********************/

/****************
** BGN: Badges **
****************/
  [class^="badges-"][class^="badges-"] {
    display: list-item;
    list-style: none;
    list-style-position: inside;
    margin-left: 0;
    margin-right: 0;
    padding: 0;

    span {
      margin: 0;
      padding: 0;
    }
  }

  .badges-content.badges-content span {
    display: inline flow-root;
    margin-left: 0.1rem;
    margin-right: 0.2rem;
  }
  .badges-footer.badges-footer span {
    display: inline flow-root;
    margin-left: 0.1rem;
    margin-right: 0.2rem;
  }
/****************
** END: Badges **
****************/

/*************
** BGN: kbd **
*************/
  /* Source: https://github.com/auth0/kbd
   * License: MIT License
   *
   * By: auth0 https://github.com/auth0
  */
  kbd {
    border-radius: 3px;
    padding: 0px 4px;
    box-shadow: 1px 1px 1px #777;
    margin: 2px;
    font-size: small;
    vertical-align: text-bottom;
    background-color: hwb(0 93% 7%);
    background-color: lch(94.098% 0 139.088);
    background-color: oklch(94.91% 0 0);
    font-weight: 500;
    color: hwb(0 33% 67%);
    color: lch(36.146% 0 139.088);
    color: oklch(44.95% 0 0);
    cursor: pointer;
    font-variant: small-caps;
    font-weight: 600;

    /* This two work */
    /* letter-spacing: 0.5px; */
    letter-spacing: 1px;


    /* Prevent selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  kbd:hover,
  kbd:hover * {
    color: var(--color-black);
    /* box-shadow: 1px 1px 1px #333; */
  }

  kbd:active,
  kbd:active * {
    color: var(--color-black);
    box-shadow: 1px 1px 0px #ddd inset;
  }

  kbd kbd {
    padding: 0px;
    margin: 0 1px;
    box-shadow: 0px 0px 0px black;
    vertical-align: baseline;
    background: none;
  }

  kbd kbd:hover {
    box-shadow: 0px 0px 0px black;
  }

  kbd:active kbd {
    box-shadow: 0px 0px 0px black;
    background: none;
  }

  /* Deep blue */
  kbd.deep-blue,
  .deep-blue kbd {
    background-color: hwb(207.273 28% 29%);
    background-color: lch(51.987% 33.881 255.712);
    background-color: oklch(58.8% 0.099 245.74);
    color: hwb(0 93% 7%);
    color: lch(94.098% 0 139.088);
    color: oklch(94.91% 0 0);
  }

  kbd.deep-blue:hover,
  kbd.deep-blue:hover *,
  .deep-blue kbd:hover {
    color: var(--color-white);
  }

  /* Dark apple */
  kbd.dark-apple,
  .dark-apple kbd {
    background-color: var(--color-black);
    color: hwb(0 87% 13%);
    color: lch(88.115% 0 139.088);
    color: oklch(89.75% 0 0);
  }

  kbd.dark-apple:hover,
  kbd.dark-apple:hover *,
  .dark-apple kbd:hover {
    color: var(--color-white);
  }

  /* Type writer */
  kbd.type-writer,
  .type-writer kbd {
    border-radius: 10px;
    background-color: hwb(0 20% 80%);
    background-color: lch(21.247% 0 139.088);
    background-color: oklch(32.11% 0 0);
    color: var(--color-white);
  }
/*************
** END: kbd **
*************/

/*******************
** BGN: REUSABLES **
*******************/
  /** BGN: Navigation-type lists **/
    :is(.list-horizontal, .list-vertical, .list-vertical2) :is(ol, ul) {
      margin-block: 0;
      padding-inline-start: 0;
    }
    .list-vertical li {
      /**
        * a11y note for Safari if ol, ul, and/or li is `list-style-type: none;`:
        *   1. Add `role=list` in <ol> and <ul>
        *   2. If not possible, add `content: "+ ";`
      **/
      /* content: "+ "; */
      display: list-item;
      list-style-type: none;
      list-style-position: outside;
    }
    .list-horizontal li {
      display: inline flow-root;
      margin-inline-end: 0.5rem;
      vertical-align: middle;
    }
  /** END: Navigation-type lists **/
/*******************
** END: REUSABLES **
*******************/
