/***
  * Webfonts CSS
  *
  * Websites:
  *   * Profile: https://iam.youronly.one
  *   * YourOnly.One™: https://youronly.one
  *   * Yelosan Publishing: https://yelosan.youronly.one
  *
  * Contact:
  *   * Fediverse: https://c.im/@youronlyone | @youronlyone@c.im
  *   * Facebook: https://fb.me/YourOnly.ONE.ofcl | https://m.me/YourOnly.ONE.ofcl
***/

/***
  * yelosan-fonts.css Copyright © 2003-2023 JC John Sese Cuneta; Yelosan Publishing
  *
  * License: MIT License (MIT)
  *
  * LICENSE: MIT License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
***/

/***
  * Twemoji Attributions
  *
  * Twemoji: https://github.com/twitter/twemoji
  * Twemoji Color - SVG in OpenType: https://github.com/eosrei/twemoji-color-font
***/

/* Composite font: Emoji Unicode Blocks with Mobile emoji support */
/*
  * True emoji code points
  *   U+1F100-1F1FF - Enclosed Alphanumeric Supplement (including regional indicator symbols)
  *   U+1F300-1F5FF - Miscellaneous Symbols and Pictographs
  *   U+1F600-1F64F - Emoticons
  *   U+1F680-1F6FF - Transport and Map Symbols
  *   U+1F900-1F9FF - Supplemantal Symbols and Pictographs
  *
  * Do not use for emoji fonts as these will replace commonly used dingbats and symbols.
  *   U+2190-21FF - Arrows
  *   U+2300-23FF - Miscellaneous Technical
  *   U+2600-26FF - Miscellaneous Symbols
  *   U+2700-27BF - Dingbats
  *   U+2B00-2BFF - Miscellaneous Symbols and Arrows
  *   U+2900-297F - Supplemental Arrows-B
**/

  /* We switched to Noto Color Emoji, which is frequently updated and now using a standard design.
  @font-face {
    font-family: "twemoji-color";
    src:  url("../fonts/TwitterColorEmoji-SVGinOT.ttf") format("opentype"),
          local("Twitter Color Emoji");
    font-display: swap;
    size-adjust: 100%;
  }
  */

/** BGN: :root and classes **/
  :root {
    --font-emoji-fallback: "Apple Color Emoji", "Segoe UI Emoji", "noto-sans-symbols2", "Noto Sans Symbols 2", "noto-sans-symbols", "Noto Sans Symbols";
    --font-emoji-noto: "Noto Color Emoji", "Noto Emoji";
    --font-emoji-joypixels: "JoyPixels", "Emoji Two", "EmojiOne Mozilla", "Emoji One";
    --font-emoji-twemoji: "twemoji-color", "Twitter Color Emoji";
    --font-emoji-combined: "Noto Color Emoji", "twemoji-color", "Twitter Color Emoji", "Apple Color Emoji", "Noto Emoji", "JoyPixels", "Emoji Two", "EmojiOne Mozilla", "Emoji One", "Segoe UI Emoji", "noto-sans-symbols2", "Noto Sans Symbols 2", "noto-sans-symbols", "Noto Sans Symbols";
  }
  .font-emoji-noto {
    font-family: var(--font-emoji-noto), emoji;
  }
  .font-emoji-twemoji {
    font-family: var(--font-emoji-twemoji), emoji;
  }
/** END: :root and classes **/

body :is(.smiley, .emoticon, .emoji) {
  display: inline flow;
  font-synthesis: none; /* do not allow any synthesis */
    font-style: normal; /* ensure there are no italic and oblique styles */
    font-weight: normal;  /* ensure there is no bold weight */
  text-decoration: none; /* ensure there are no inherited decoration styles */
  text-shadow: none; /* ensure there are no inherited shadow effects */
  inline-size: 1em;
  block-size: 1em;
  margin-inline: .1em .05em;
  margin-block: 0;
  vertical-align: initial;
}
@supports (font-variant-emoji: unicode) {
  body :is(.smiley, .emoticon, .emoji) {
    font-variant-emoji: unicode;
  }
}

/*
    NOTE:
      Backwards compatibility, for a specific post only. See emoji test page in techmagus.
      Delete this after updating it.
*/
html body .unicode_emoji {
  font-variant-emoji: emoji;
  /* font-size: larger; */
  font-style: normal;
  font-synthesis: none;
  font-weight: normal;
}
html body .unicode_emoji_test {
  font-size: 2.5rem;
}
