/***
  * Webfonts CSS
  *
  * Websites:
  *   * Profile: https://iam.youronly.one
  *   * YourOnly.One™: https://youronly.one
  *   * Yelosan Publishing: https://yelosan.youronly.one
  *
  * Contact:
  *   * Fediverse: https://c.im/@youronlyone | @youronlyone@c.im
  *   * Facebook: https://fb.me/YourOnly.ONE.ofcl | https://m.me/YourOnly.ONE.ofcl
***/

/***
  * yelosan-fonts.css Copyright © 2003-2023 JC John Sese Cuneta; Yelosan Publishing
  *
  * License: MIT License (MIT)
  *
  * LICENSE: MIT License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
***/

/***
  * Baybayin Unicode Fonts License:
  *   Paul Morrow, All Rights Reserved: http://www.mts.net/~pmorrow/fonts.htm
  *   Norman de los Santos ("Nordenx"), All Rights Reserved: http://nordenx.blogspot.com and http://nordenx.deviantart.com
  *   Permission granted for use in my sites only.
  *   font-face version based on: fontsquirrel.com which was based on the work of Paul Irish.
***/

/***
  * Other Attributions
  *
  * Barabara: https://itsmorefuninthephilippines.com
***/

/** BGN: Noto Baybayin **/
  @font-face {
    font-family: "baybayin-noto";
    src:  local("Noto Sans Buhid"),
          url("../fonts/NotoSansBuhid-Regular.otf") format("opentype"),
          url("../fonts/NotoSansBuhid-Regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "baybayin-noto";
    src:  local("Noto Sans Hanunoo"),
          url("../fonts/NotoSansHanunoo-Regular.otf") format("opentype"),
          url("../fonts/NotoSansHanunoo-Regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "baybayin-noto";
    src:  local("Noto Sans Tagalog"),
          url("../fonts/NotoSansTagalog-Regular.otf") format("opentype"),
          url("../fonts/NotoSansTagalog-Regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "baybayin-noto";
    src:  local("Noto Sans Tagbanwa"),
          url("../fonts/NotoSansTagbanwa-Regular.otf") format("opentype"),
          url("../fonts/NotoSansTagbanwa-Regular.ttf") format("truetype");
    font-display: swap;
  }
/** END: Noto Baybayin **/

/* BGN: Nordenx Baybayin */
  @font-face {
    font-family: "baybayin-nordenx";
    src:  local("Baybayin Mangyan Buhid"), /* full font name */
          local("BaybayinMangyanBuhid"), /* Postscript name */
          url("../fonts/baybayinmangyanbuhid-webfont.woff2") format("woff2"),
          url("../fonts/baybayinmangyanbuhid-webfont.woff") format("woff"),
          url("../fonts/baybayinmangyanbuhid-webfont.ttf") format("opentype");
    font-display: swap;
    unicode-range: U+1740-175F, U+1714, U+1734-1736, U+20B1;
  }
  @font-face {
    font-family: "baybayin-nordenx";
    src:  local("Baybayin Mangyan Hanubrush"), /* full font name */
          local("BaybayinMangyanHanubrush"), /* Postscript name */
          url("../fonts/baybayinmangyanhanubrush-webfont.woff2") format("woff2"),
          url("../fonts/baybayinmangyanhanubrush-webfont.woff") format("woff"),
          url("../fonts/baybayinmangyanhanubrush-webfont.ttf") format("opentype");
    font-display: swap;
    unicode-range: U+1720-173F, U+1714, U+20B1;
  }
  @font-face {
    font-family: "baybayin-nordenx";
    src:  local("Baybayin Modern Club"), /* full font name */
          local("BaybayinModernClub"), /* Postscript name */
          url("../fonts/baybayintagalogmodernclub-webfont.woff2") format("woff2"),
          url("../fonts/baybayintagalogmodernclub-webfont.woff") format("woff"),
          url("../fonts/baybayintagalogmodernclub-webfont.ttf") format("opentype");
    font-display: swap;
    unicode-range: U+1700-171F, U+1734-1736, U+20B1;
  }
  /*
  @font-face {
    font-family: "baybayin-nordenx";
    src:  local(""), /* full font name
          local(""), /* Postscript name
          url("../fonts/-webfont.woff2") format("woff2"),
          url("../fonts/-webfont.woff") format("woff"),
          url("../fonts/-webfont.ttf") format("opentype");
    font-display: swap;
    unicode-range: U+1760-177F, U+1714, U+1734-1736, U+20B1;
  }
  */
/* END: Nordenx Baybayin */

  /* BGN: Barabara */
  @font-face {
    font-family: "barabara";
    src:  local("BARABARA"), /* full font name */
          url("../fonts/barabara-unicode-webfont.woff2") format("woff2"),
          url("../fonts/barabara-unicode-webfont.woff") format("woff"),
          url("../fonts/barabara-unicode-webfont.ttf") format("opentype");
    font-display: swap;
  }
/* END: Barabara */

/** BGN: :root and classes **/
  /*
  * 1. If the font is not a subset, the base font has to be declared first.
  *   Example, we need Noto Sans to ensure the Latin scripts still have font-weight when mixed with non-Latin Noto fonts.
  * 2. Do not use var(), it will not work correctly.
  */
  :root {
    --font-baybayin-sans-noto: "noto-sans", "Noto Sans", "baybayin-noto", "Noto Sans Buhid", "Noto Sans Hanunoo", "Noto Sans Tagalog", "Noto Sans Tagbanwa"; /* Different Unicode blocks. */
    --font-baybayin-nordenx: "baybayin-nordenx"; /* subset font */
    --font-barabara-fantasy: "barabara";
  }
  .font-baybayin-sans-noto.font-baybayin-sans-noto.font-baybayin-sans-noto {
    direction: ltr;
    font-family: var(--font-baybayin-sans-noto, sans-serif);
  }
  .font-baybayin-nordenx.font-baybayin-nordenx.font-baybayin-nordenx {
    direction: ltr;
    font-family: var(--font-baybayin-nordenx, sans-serif);
  }
  .font-barabara-fantasy.font-barabara-fantasy.font-barabara-fantasy {
    direction: ltr;
    font-family: var(--font-barabara-fantasy, fantasy);
  }
/** END: :root and classes **/

/***
  * BGN: Special font-family override
  *
  *   - Subset fonts
  *   - Pure Unicode-compliant fonts only, otherwise we have to manually subset.
***/

/* BGN: Catch all en-PH */
  :lang(en-PH) {
    direction: ltr;
    font-language-override: "ENG";
    font-synthesis: initial;
  }
/* END: Catch all en-PH */

/* BGN: Catch all PH (original) scripts */
  /* Search: https: //iso639-3.sil.org/code_tables/639/data */
  /***
  ** Break down into groups to ensure UA's will not ignore.
  ***/

  :lang(cbk), :lang(ibg), :lang(krj), :lang(xsb), :lang(yka),

  :lang(bnc), :lang(ebk), :lang(lbk), :lang(obk), :lang(rbk), :lang(vbk), /* Bontok */
  :lang(ivb), :lang(ivv), /* Ibatan */
  :lang(sgd), :lang(tgn), /* Surigaonon, Tandaganon */

  /*** Also in Arabic ***/
  :lang(mdh), /* Maguindanaon */
  :lang(mrw), /* Marano */
  :lang(tsg) /* Tausug */
  {
    direction: ltr;
    /* font-family: */ /* add default for Latin script in font-defaults.scss */
    font-language-override: "PIL";
    font-synthesis: initial;
  }

  /*** Also in Baybayin ***/
    :lang(akl), :lang(mlz), /* Aklanon */
    :lang(bku), :lang(hnn), :lang(alj), :lang(bnj), :lang(bnk), :lang(btn), :lang(iry), :lang(tdy), :lang(twb), /* Mangyan (Buhid and Hanunoo) */
    :lang(bcl), :lang(bik), :lang(bln), :lang(bto), :lang(cts), /* Bikolano (Basahan) */
    :lang(bhk), :lang(fbl), :lang(lbl), :lang(rbl), :lang(ubl) /* Bikolano Albay (Basahan) */
  {
    direction: ltr;
    /* font-family: */ /* add default for Latin script in font-defaults.scss */
    font-language-override: "PIL";
    font-synthesis: initial;
  }

    :lang(ceb), /* Cebuano (Badlit) */
    :lang(hil), /* Hiligaynon */
    :lang(ilo), /* Ilokano (Kuritan) */
    :lang(pag), /* Pangasinense (Kuritan) */
    :lang(pam), /* Kapampangan (Kulitan) */
    :lang(tbw), :lang(tbk), :lang(tgt), /* Tagbanwa */
    :lang(tgl), :lang(tl), /* Tagalog */
    :lang(war), /* Waray */
    :lang(phi), :lang(fil) /* national and collective */
  {
    direction: ltr;
    /* font-family: */ /* add default for Latin script in font-defaults.scss */
    font-language-override: "PIL";
    font-synthesis: initial;
  }

  :lang(tbw-Tagb), :lang(tbk-Tagb), :lang(tgt-Tagb),
  :lang(bku-Buhd), :lang(hnn-Hano),
  :lang(tgl-Tglg), :lang(tl-Tglg),
  :lang(phi-Tagb), :lang(phi-Buhd), :lang(phi-Hano), :lang(phi-Tglg),
  :lang(fil-Tagb), :lang(fil-Buhd), :lang(fil-Hano), :lang(fil-Tglg),
  :lang(\*-Tagb), :lang(\*-Buhd), :lang(\*-Hano), :lang(\*-Tglg) /* Not yet implemented by browsers */
  {
    direction: ltr;
    font-family: var(--font-baybayin-sans-noto, sans-serif); /* to customise: use var() in font-defaults.scss */
    font-style: normal;
    font-synthesis: weight;
    font-variant-east-asian: proportional-width;
  }
/* END: Catch all PH (original) scripts */
