/***
  * Webfonts CSS
  *
  * Websites:
  *   * Profile: https://iam.youronly.one
  *   * YourOnly.One™: https://youronly.one
  *   * Yelosan Publishing: https://yelosan.youronly.one
  *
  * Contact:
  *   * Fediverse: https://c.im/@youronlyone | @youronlyone@c.im
  *   * Facebook: https://fb.me/YourOnly.ONE.ofcl | https://m.me/YourOnly.ONE.ofcl
***/

/***
  * yelosan-fonts.css Copyright © 2003-2023 JC John Sese Cuneta; Yelosan Publishing
  *
  * License: MIT License (MIT)
  *
  * LICENSE: MIT License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
***/

/***
  * Baybayin Unicode Fonts License:
  *   Paul Morrow, All Rights Reserved: http://www.mts.net/~pmorrow/fonts.htm
  *   Norman de los Santos ("Nordenx"), All Rights Reserved: http://nordenx.blogspot.com and http://nordenx.deviantart.com
  *   Permission granted for use in my sites only.
  *   font-face version based on: fontsquirrel.com which was based on the work of Paul Irish.
***/

/***
  * Other Attributions
  *
  * Barabara: https://itsmorefuninthephilippines.com
***/

/** BGN: Noto Baybayin **/
  @font-face {
    font-family: "noto-baybayin";
    src:  local("Noto Sans Buhid"),
          url("../fonts/NotoSansBuhid-Regular.otf") format("opentype"),
          url("../fonts/NotoSansBuhid-Regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "noto-baybayin";
    src:  local("Noto Sans Hanunoo"),
          url("../fonts/NotoSansHanunoo-Regular.otf") format("opentype"),
          url("../fonts/NotoSansHanunoo-Regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "noto-baybayin";
    src:  local("Noto Sans Tagalog"),
          url("../fonts/NotoSansTagalog-Regular.otf") format("opentype"),
          url("../fonts/NotoSansTagalog-Regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "noto-baybayin";
    src:  local("Noto Sans Tagbanwa"),
          url("../fonts/NotoSansTagbanwa-Regular.otf") format("opentype"),
          url("../fonts/NotoSansTagbanwa-Regular.ttf") format("truetype");
    font-display: swap;
  }
/** END: Noto Baybayin **/

/* BGN: Nordenx Baybayin */
  @font-face {
    font-family: "nordenx-baybayin";
    src:  local("Baybayin Mangyan Buhid"), /* full font name */
          local("BaybayinMangyanBuhid"), /* Postscript name */
          url("../fonts/baybayinmangyanbuhid-webfont.woff2") format("woff2"),
          url("../fonts/baybayinmangyanbuhid-webfont.woff") format("woff"),
          url("../fonts/baybayinmangyanbuhid-webfont.ttf") format("opentype");
    font-display: swap;
    unicode-range: U+1740-175F, U+1714, U+1734-1736, U+20B1;
  }
  @font-face {
    font-family: "nordenx-baybayin";
    src:  local("Baybayin Mangyan Hanubrush"), /* full font name */
          local("BaybayinMangyanHanubrush"), /* Postscript name */
          url("../fonts/baybayinmangyanhanubrush-webfont.woff2") format("woff2"),
          url("../fonts/baybayinmangyanhanubrush-webfont.woff") format("woff"),
          url("../fonts/baybayinmangyanhanubrush-webfont.ttf") format("opentype");
    font-display: swap;
    unicode-range: U+1720-173F, U+1714, U+20B1;
  }
  @font-face {
    font-family: "nordenx-baybayin";
    src:  local("Baybayin Modern Club"), /* full font name */
          local("BaybayinModernClub"), /* Postscript name */
          url("../fonts/baybayintagalogmodernclub-webfont.woff2") format("woff2"),
          url("../fonts/baybayintagalogmodernclub-webfont.woff") format("woff"),
          url("../fonts/baybayintagalogmodernclub-webfont.ttf") format("opentype");
    font-display: swap;
    unicode-range: U+1700-171F, U+1734-1736, U+20B1;
  }
  /*
  @font-face {
    font-family: "nordenx-baybayin";
    src:  local(""), /* full font name
          local(""), /* Postscript name
          url("../fonts/-webfont.woff2") format("woff2"),
          url("../fonts/-webfont.woff") format("woff"),
          url("../fonts/-webfont.ttf") format("opentype");
    font-display: swap;
    unicode-range: U+1760-177F, U+1714, U+1734-1736, U+20B1;
  }
  */
/* END: Nordenx Baybayin */

  /* BGN: Barabara */
  @font-face {
    font-family: "barabara";
    src:  local("BARABARA"), /* full font name */
          url("../fonts/barabara-unicode-webfont.woff2") format("woff2"),
          url("../fonts/barabara-unicode-webfont.woff") format("woff"),
          url("../fonts/barabara-unicode-webfont.ttf") format("opentype");
    font-display: swap;
  }
/* END: Barabara */

/* BGN: LANG */
  /***
    * BGN: Special font-family override
    *
    *   - Do not add font-familiy in :lang(). It will mess a multi-script / multi-language page.
    *   - Subset fonts
    *   - Pure Unicode-compliant fonts only
  ***/

  /* BGN: Catch all PH (original) scripts */
    :lang(phi), :lang(fil),
    :lang(tbw), :lang(bku), :lang(hnn), :lang(tl) {
      direction: ltr;
      font-language-override: "PIL";
      font-synthesis: initial;
    }
    :lang(tbw-Tagb), :lang(bku-Buhd), :lang(hnn-Hano), :lang(tl-Tglg)
    /* :lang(*-Tagb), :lang(*-Buhd), :lang(*-Hano), :lang(*-Tglg) */
    {
      font-variant-east-asian: proportional-width;
      font-style: normal;
      font-synthesis: weight;
    }
  /* END: Catch all PH (original) scripts */
/* END: LANG */

/**
  * Font classes for override, and in rare cases, to force the font to an element.
  *   Examples:
  *     1. Templates with explicit font-face for selected elements
  *     2. Header elements (<h1,2,3,4,5>) -- could be theme-based also
  *
  * Baybayin: Baybayin Modern club > Noto Sans Tagalog
  * Paleo Hebrew: Paleo Hebrew > Ancient Hebrew > Noto Sans Phoenician
  * Modern Hebrew: Modern Hebrew = Noto Sans Hebrew
  *
  * "direction" has to be added to cover all styling practices
**/
.font-baybayin-noto {
  direction: ltr;
  font-family: var(font-baybayin-yelosan), sans-serif;
}

.font-baybayin-nordenx {
  direction: ltr;
  font-family: var(--font-baybayin-nordenx), sans-serif;
}

.font-barabara-fantasy {
  direction: ltr;
  font-family: var(--font-barabara-fantasy), fantasy;
}


  @font-face {
    font-family: "mangyan-buhid";
    src:  local("Noto Sans Buhid"),
          url("../fonts/NotoSansBuhid-Regular.otf") format("opentype"),
          url("../fonts/NotoSansBuhid-Regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "mangyan-hanunoo";
    src:  local("Noto Sans Hanunoo"),
          url("../fonts/NotoSansHanunoo-Regular.otf") format("opentype"),
          url("../fonts/NotoSansHanunoo-Regular.ttf") format("truetype");
    font-display: swap;
  }

.font-mangyan-buhid {
  font-family: "mangyan-buhid";
}
.font-mangyan-hanunoo {
  font-family: "mangyan-hanunoo";
}
