/***
  * Webfonts CSS
  *
  * Websites:
  *   * Profile: https://iam.youronly.one
  *   * YourOnly.One™: https://youronly.one
  *   * Yelosan Publishing: https://yelosan.youronly.one
  *
  * Contact:
  *   * Fediverse: https://c.im/@youronlyone | @youronlyone@c.im
  *   * Facebook: https://fb.me/YourOnly.ONE.ofcl | https://m.me/YourOnly.ONE.ofcl
***/

/***
  * yelosan-fonts.css Copyright © 2003-2023 JC John Sese Cuneta; Yelosan Publishing
  *
  * License: MIT License (MIT)
  *
  * LICENSE: MIT License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
***/

/***
  * Twemoji Attributions
  *
  * Twemoji: https://github.com/twitter/twemoji
  * Twemoji Color - SVG in OpenType: https://github.com/eosrei/twemoji-color-font
***/

/* Composite font: Emoji Unicode Blocks with Mobile emoji support */
/*
  * True emoji code points
  *   U+1F100-1F1FF - Enclosed Alphanumeric Supplement (including regional indicator symbols)
  *   U+1F300-1F5FF - Miscellaneous Symbols and Pictographs
  *   U+1F600-1F64F - Emoticons
  *   U+1F680-1F6FF - Transport and Map Symbols
  *   U+1F900-1F9FF - Supplemantal Symbols and Pictographs
  *
  * Do not use for emoji fonts as these will replace commonly used dingbats and symbols.
  *   U+2190-21FF - Arrows
  *   U+2300-23FF - Miscellaneous Technical
  *   U+2600-26FF - Miscellaneous Symbols
  *   U+2700-27BF - Dingbats
  *   U+2B00-2BFF - Miscellaneous Symbols and Arrows
  *   U+2900-297F - Supplemental Arrows-B
**/

@font-face {
  font-family: "Emoji-Twemoji-Color-SVGinOT";
  src: local("Twitter Color Emoji"),
    local("Twitter Color Emoji Regular"),
    local("Twitter Color Emoji SVGinOT"),
    local("TwitterColorEmojiSVGinOT"),
    local("Twemoji"),
    url("../fonts/TwitterColorEmoji-SVGinOT.ttf") format("opentype");
  font-display: swap;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}

/* We may need to add !important to guarantee default third-party theme styles won't affect our emojis. */
/*
html body [class^="smiley-" i], html body [class$="-smiley" i],
html body [class^="emoticon-" i], html body [class$="-emoticon" i],
html body [class^="emoji-" i], html body [class$="-emoji" i],
html body [class*="emoji-" i], html body [class*="-emoji" i],
*/
html body [class~="smiley" i],
html body [class~="emoticon" i],
html body [class~="emoji" i] {
  display: inline-block;
  height: 1em; /* Twemoji suggestion */
  width: 1em; /* Twemoji suggestion */
  margin: 0 .05em 0 .1em; /* Twemoji suggestion */
  /* vertical-align: -0.1em; */ /* Twemoji suggestion */
  vertical-align: initial;
  font-family: "Emoji-Twemoji-Color-SVGinOT", "Twitter Color Emoji", "Twemoji", var(--base-emoji-font);
  font-variant-emoji: unicode;
  font-style: normal;
  font-synthesis: none;
  font-weight: normal;
}
html body .unicode_emoji { /* usage: <span class="unicode_emoji">emoji_here</span> */
  font-family: "Emoji-Twemoji-Color-SVGinOT", "Twitter Color Emoji", "Twemoji", var(--base-emoji-font);
  font-variant-emoji: unicode;
  /* font-size: larger; */
  font-style: normal;
  font-synthesis: none;
  font-weight: normal;
}
html body .unicode_emoji_test {
  font-size: 2.5rem;
}
