#webmentions {
  margin: 0;
}

/*
#webmentions .comments {
}
*/

#webmentions h2 {
  font-size: medium;
  margin-top: 0;
  padding: 2px;
}

#webmentions .reacts img {
  margin: 3px -1ex 1px 0;
}

#webmentions ul {
  list-style-type: none;
  margin: 0;
  padding: 4px;
}

/*
#webmentions li {
}
*/

/*
#webmentions a.reaction {
}
*/

#webmentions a.reaction img {
  border-radius: 25%;
  max-height: 1.3em;
}

#webmentions a.reaction sub {
  font-size: 50%;
}

/*
#webmentions .comments li {
}
*/

#webmentions .comments li .name,
#webmentions .comments li .text {
  text-indent: -1.2em;
  padding-left: 3em;
}
