@charset "UTF-8";
/***
  * Do not use @import
***/

/***
  * Webfonts CSS
  *
  * Websites:
  *   * Profile: https://iam.youronly.one
  *   * YourOnly.One™: https://youronly.one
  *   * Yelosan Publishing: https://yelosan.youronly.one
  *
  * Contact:
  *   * Fediverse: https://c.im/@youronlyone | @youronlyone@c.im
  *   * Facebook: https://fb.me/YourOnly.ONE.ofcl | https://m.me/YourOnly.ONE.ofcl
***/

/***
  * yelosan-fonts.css Copyright © 2003-2023 JC John Sese Cuneta; Yelosan Publishing
  *
  * License: MIT License (MIT)
  *
  * LICENSE: MIT License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
***/

/***
  * Based on:
  *
  *   * CSS Fonts Module Level 4
  *      * WD, 2018-09-20
  *      * https://www.w3.org/TR/css-fonts-4/
  *      * See: see @font-face
  *   * CSS Fonts Module Level 3
  *      * REC, 2018-09-20
  *      * https://www.w3.org/TR/css-fonts-3/
  *
  *   * Selectors Level 4
  *      * WD, 2018-11-21
  *      * https://www.w3.org/TR/selectors-4/
  *      * See: :dir() and :lang(*-Latn)
  *          * 2020-06-07: do not use wildcard, it's terminating CSS in Chrome 85.0.4164.2;
  *
***/

/***************************
** BGN: :root, html, body **
***************************/
  /***
    * Format:
    *   font-family: var(--CATEGORY-LANG/SCRIPT-VERSION-MOD);
    *   font-family: var(--font-baybayin-yelosan);
    *   font-family: var(--icon-creativecommons);
  ***/
  :root, html, body {
    /*
     * 1. Yelosan: default is Noto family
     * 2. Variants should be separate
    */
    /* BGN: standard set */
      --font-sans-yelosan: "noto-sans", "Noto Sans"; /* sans-serif */
      --font-serif-yelosan: "noto-serif", "Noto Serif"; /* serif */
      --font-mono-yelosan: "noto-sans-mono", "Noto Sans Mono", "Noto Mono"; /* monospace */
      --font-cursive-yelosan: cursive; /* cursive */
      --font-fantasy-yelosan: fantasy; /* fantasy */
      --font-emoji-yelosan: "twemoji-color", "Twitter Color Emoji", "EmojiOne Mozilla", "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Emoji Two", "Emoji One", "Twitter Emoji", "Twemoji", "Noto Emoji", "Android Emoji", "noto-sans-symbols2", "Noto Sans Symbols 2", "noto-sans-symbols", "Noto Sans Symbols"; /* emoji */
      --font-math-yelosan: "noto-sans-math", "Noto Sans Math", "Noto Math", "noto-sans-symbols2", "Noto Sans Symbols 2", "noto-sans-symbols", "Noto Sans Symbols"; /* math */
      --font-fangsong-yelosan-rotated: "Noto Fangsong KSS Rotated"; /* fangsong */
      --font-fangsong-yelosan-vertical: "Noto Fangsong KSS Vertical"; /* fangsong */
    /* END: standard set */

    /* BGN: LANG set */
      --font-zhs-yelosan: "Noto Sans CJK SC", "Noto Sans SC"; /* Simplififed */
      --font-zht-yelosan: "Noto Sans CJK TC", "Noto Sans TC"; /* Traditional */
      --font-ja-yelosan: "Noto Sans CJK JP", "Noto Sans JP"; /* Nihongo */
      --font-ko-yelosan: "Noto Sans CJK KR", "Noto Sans KR"; /* Hangugeo */
      --font-baybayin-yelosan: "noto-baybayin", "Noto Sans Buhid", "Noto Sans Hanunoo", "Noto Sans Tagalog", "Noto Sans Tagbanwa"; /* Different Unicode blocks. */
      --font-baybayin-nordenx: "nordenx-baybayin";
      --font-hebrew-sans-yelosan: "Noto Sans Phoenician", "Noto Sans Hebrew"; /* Different Unicode blocks. */
      --font-hebrew-sans-paleo-gezer: "hebrew-sans-paleo-gezer", "Noto Sans Hebrew"; /* Different Unicode blocks */
      --font-hebrew-sans-proto-canaanite: "hebrew-sans-proto-canaanite", "Noto Sans Hebrew"; /* Different Unicode blocks */
      --font-hebrew-serif-yelosan: "Noto Sans Phoenician", "Noto Serif Hebrew"; /* Different Unicode blocks. There is no Serif for Phoenician */
    /* END: LANG set */

    /* BGN: others */
      --font-music-yelosan: "noto-music", "Noto Music", "noto-sans-symbols2", "Noto Sans Symbols 2", "noto-sans-symbols", "Noto Sans Symbols";
      --font-barabara-fantasy: "barabara", "BARABARA";
      --icon-creativecommons: "cc-icons", "creative_commons";
      --fix-combining-diacritics: "dejavu-sans-filipino-diacritics", "DejaVu Sans"; /* highest accuracy in diacritical mark positioning. */
    /* END: others */

    -webkit-font-kerning: normal;
            font-kerning: normal;

    /* font-synthesis: */ /* only set per class/font/:lang() */
    /* font-variant-alternates: */ /* only set per class/font/:lang() */
    /* font-variant-caps: */ /* only set per class/font/:lang() */
    /* font-variant-east-asian: */ /* only set per class/font/:lang() */
    font-variant-emoji: unicode;
    /* font-variant-ligatures: */ /* only set per class/font/:lang() */
    font-variant-numeric: slashed-zero tabular-nums oldstyle-nums;
    /* font-variant-position: */ /* only set per class/font/:lang() */

    text-rendering: optimizeLegibility; /* for browsers that does not support geometricPrecision */
    text-rendering: geometricPrecision; /* only major browsers support this */
  }
/***************************
** END: :root, html, body **
***************************/

/***************
** BGN: SHIMS **
***************/
  /* BIDI HTML5 and CSS3 "isolate" */
  [dir="ltr"],
  bdo[dir="ltr"],
  :dir(ltr) {
    direction: ltr;
  }
  [dir="rtl"],
  bdo[dir="rtl"],
  :dir(rtl) {
    direction: rtl;
  }
/***************
** END: SHIMS **
***************/

/************************
** BGN: Default styles **
************************/
  /*
  [class^="nums-" i] {
    font-family: "Source Sans Pro", sans-serif;
  }
  [class$="-serif" i] {
    font-family: var(--font-serif-yelosan), serif;
  }
  [class$="-sans" i] {
    font-family: var(--font-sans-yelosan), sans-serif;
  }
  [class$="-mono" i] {
    font-family: var(--font-mono-yelosan), monospace;
  }
  */

  /* OpenType Superscript (sups) */
    sup, .superscript {
      font-variant-position: super;
    }
  /* OpenType Subscript (subs) */
    sub, .subscript {
      font-variant-position: sub;
    }
  /* OpenType small-caps (smcp) */
    .small-caps {
      font-variant-caps: small-caps;
    }
  /* OpenType all-small-caps (c2sc) */
    .small-caps-all {
      font-variant-caps: all-small-caps;
    }
  /* OpenType petite-caps (pcap) */
    .petite-caps {
      font-variant-caps: petite-caps;
    }
  /* OpenType all-petite-caps (c2pc, pcap) */
    .petite-caps-all {
      font-variant-caps: all-petite-caps;
    }
  /* OpenType unicase (unic) */
    .unicase {
      font-variant-caps: unicase;
    }
  /* OpenType titling-caps (titl) */
    .titling-caps {
      font-variant-caps: titling-caps;
    }

  /*** BGN: Diacritics ***/
    .diacritics {
      font-family: var(--fix-combining-diacritics); /* Currently, DejaVu Sans has the highest accuracy in diacritical mark positioning. */
      font-weight: bold;
    }
  /*** END: Diacritics ***/

/************************
** END: Default styles **
************************/

/***************
** BGN: FONTS **
***************/
  /***
    * Unfortunately, the CSS4 font-synthesis: none; descriptor is not yet recognized by most browsers.
    * See: https://www.w3.org/TR/css-fonts-4/
    *
    * Setting font-style and font-weight descriptor via class and selectors will require
    *   that all instances of the scripts should have that class or is correctly targeted.
    *   However, this is not guaranteed if we use a CMS not designed for multi-script purposes.
  ***/

  /***
    * https://rsc.youronly.one/css/paninap-fonts.css
    * https://rsc.youronly.one/css/paninap-style.css
  ***/

  /* BGN: MOST USED */
    /* BGN: Special Characters */
      /* &-sign / ampersand */
      /*
      @font-face {
        font-family: "ampersand";
        src:  local(""), /* full font name
              local(""), /* Postscript name
              url("../fonts/ampersand-regular-webfont.woff2") format("woff2"),
              url("../fonts/ampersand-regular-webfont.woff") format("woff"),
              url("../fonts/ampersand-regular-webfont.ttf") format("opentype");
        font-display: swap;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        unicode-range: U+20B1; /* Peso currency
        unicode-range: U+0025-00FF, U+4??; /* sample
      }
      */
    /* END: Special Characters */
  /* END: MOST USED */

  /* BGN: LANG */
    /***
      * BGN: Special font-family override
      *
      *   - Do not add font-familiy in :lang(). It will mess a multi-script / multi-language page.
      *   - Subset fonts
      *   - Pure Unicode-compliant fonts only
    ***/
    :lang(en), :lang(en-oxendict),
    :lang(en-PH), :lang(en-PH-oxendict) {
      direction: ltr;
      font-language-override: "ENG";
      font-synthesis: initial;
    }

    /* BGN: Catch all Chinese lang */
      /* :lang("zh-*"), */
      :lang(zh-Hans) {
        direction: ltr;
        font-variant-east-asian: simplified proportional-width;
        font-language-override: "ZHS";
        font-style: normal;
        font-synthesis: weight;
      }
      :lang(zh),
      :lang(zh-Hant) {
        direction: ltr;
        font-variant-east-asian: traditional proportional-width;
        font-language-override: "ZHT";
        font-style: normal;
        font-synthesis: weight;
      }
      :lang(zh-Hans-HK) {
        direction: ltr;
        font-variant-east-asian: simplified proportional-width;
        font-language-override: "ZHS";
        font-style: normal;
        font-synthesis: weight;
      }
      :lang(zh-Hant-HK) {
        direction: ltr;
        font-variant-east-asian: traditional proportional-width;
        font-language-override: "ZHH";
        font-style: normal;
        font-synthesis: weight;
      }
      :lang(zh-Latn), :lang(zh-Latn-pinyin),
      :lang(yue-jyutping), :lang(zh-yue-jyutping),
      :lang(zh-Latn-tongyong),
      :lang(zh-Latn-wadegile) {
        direction: ltr;
        font-language-override: "ZHP";
        font-synthesis: initial;
      }
    /* END: Catch all Chinese lang */

    /* BGN: Catch all Japanese lang */
      /* :lang("ja-*"), */
      :lang(ja) {
        direction: ltr;
        font-variant-east-asian: jis04 proportional-width;
        font-language-override: "JAN";
        font-style: normal;
        font-synthesis: weight;
      }
      :lang(ja-Latn), :lang(ja-Latn-hepburn),
      :lang(ja-Latn-hepburn-heploc), :lang(ja-Latn-heploc),
      :lang(ja-Latn-hepburn-alalc97), :lang(ja-Latn-alalc97) {
        direction: ltr;
        font-synthesis: initial;
      }
    /* END: Catch all Japanese lang */

    /* BGN: Catch all Korean lang */
      /* :lang("ko-*"), */
      :lang(ko) {
        direction: ltr;
        font-variant-east-asian: proportional-width;
        font-language-override: "KOR";
        font-style: normal;
        font-synthesis: weight;
      }
      :lang(ko-Latn) {
        direction: ltr;
        font-synthesis: initial;
      }
    /* END: Catch all Korean lang */

    /* BGN: Catch all Greek langs and scripts */
      :lang(el), :lang(gre), :lang(ell), /* Modern Greek */
      :lang(el-Latn), :lang(gre-Latn), :lang(ell-Latn),
      :lang(grc), /* Ancient Greek */
      :lang(grc-Latn) {
        direction: ltr;
      }
      :lang(el), :lang(gre), :lang(ell) /* Modern Greek */ {
        font-language-override: "ELL";
        font-style: normal;
        font-synthesis: weight;
      }
      :lang(el-Latn), :lang(gre-Latn), :lang(ell-Latn) {
        font-synthesis: initial;
      }
      :lang(grc) {
        font-style: normal;
        font-synthesis: weight;
      }
      :lang(grc-Latn) {
        font-synthesis: initial;
      }
    /* END: Catch all Greek langs and scripts */

    .reset-1_25em { /* e.g. use for -Tglg and -Hebr scripts when there are Latin-scripts within the same element */
      font-size: 0.8em;
    }
  /* END: LANG */

  /**
   * Font classes for override, and in rare cases, to force the font to an element.
   *   Examples:
   *     1. Templates with explicit font-face for selected elements
   *     2. Header elements (<h1,2,3,4,5>) -- could be theme-based also
   *
   * Baybayin: Baybayin Modern club > Noto Sans Tagalog
   * Paleo Hebrew: Paleo Hebrew > Ancient Hebrew > Noto Sans Phoenician
   * Modern Hebrew: Modern Hebrew = Noto Sans Hebrew
   *
   * "direction" has to be added to cover all styling practices
  **/
  /* BGN: NotoSans */
    .font-greek-sans-noto {
      direction: ltr;
      font-family: var(--font-sans-yelosan); /* Force override */
    }
    .font-greek-serif-noto {
      direction: ltr;
      font-family: var(--font-serif-yelosan); /* Force override */
    }
  /* END: NotoSans */

  .large {
    font-size: large;
  }
  .xlarge {
    font-size: x-large;
  }
  .xxlarge {
    font-size: xx-large;
  }
  .larger {
    font-size: larger;
  }
/***************
** END: FONTS **
***************/
