<link href="https://youronly.one/0xF2F9BE4C3D8E4F53.pub.asc" rel="pgpkey">

{{/* YELOSAN PUBLISHING */}}
<link href="https://yelosan.youronly.one" rel="publisher me" />

{{/* I'M YourOnly.One */}}
<link href="https://youronly.one" rel="me" />
<link href="https://im.youronly.one" rel="me" />

{{/* Projects */}}
<link href="https://semweb.youronly.one" rel="project" />

{{/* Author */}}
{{ if .IsPage }}
<link href="https://iam.youronly.one" rel="author me" />
<link href="https://keyoxide.org/wkd/contact@im.youronly.one" rel="author me" />
<link href="https://keyoxide.org/989eb937bdf4a5cd65470204f2f9be4c3d8e4f53" rel="author me" />
<link href="https://keybase.io/yukino/" rel="author me" />
{{/* Fediverse */}}
<link href="https://hashi.icu/@youronlyone" rel="author me" />
<link href="https://public.garden/@youronlyone" rel="author me" />
<link href="https://c.im/@youronlyone" rel="author me" />
<link href="https://p.lu/a/youronlyone" rel="author me" />
<link href="https://pixelfed.social/youronlyone" rel="author me" />
<link href="https://p.lu/c/youronly.one" rel="author me" />
<link href="https://bookwyrm.social/@youronlyone" rel="author me" />
<link href="https://inventaire.io/users/YourOnlyOne/" rel="author me" />
<link href="https://diasp.org/u/jcsesecuneta" rel="author me" />
<link href="https://sopuli.xyz/u/youronlyone" rel="author me" />
<link href="https://paper.wf/youronlyone" rel="author me" />
<link href="https://writing.exchange/@VersesSpace" rel="author me" />
<link href="https://write.as/versesspace/" rel="author me" />
<link href="https://fediverse.blog/~/WhenSnowFalls/" rel="author me" />
<link href="https://fediverse.blog/~/Sandbox/" rel="author me" />
<link href="https://fediverse.blog/@/yuki" rel="author me" />
<link href="https://node9.org/profile/youronlyone" rel="author me" />
<link href="https://zotum.net/profile/youronlyone" rel="author me" />
<link href="https://qoto.org/@youronlyone" rel="author me" />
<link href="https://social.vivaldi.net/@youronlyone" rel="author me" />
{{/* Fediverse SOON */}}
<link href="https://www.tumblr.com/youronlyoneofcl/" rel="author me" />
<link href="https://www.tumblr.com/blog/youronlyoneofcl" rel="author me" />
<link href="https://t.youronly.one" rel="author me" />
<link href="https://www.flickr.com/people/laibcoms" rel="author me" />
<link href="https://www.flickr.com/photos/laibcoms" rel="author me" />
{{/* Non-fediverse */}}
<link href="https://blog.naver.com/youronlyone-ofcl" rel="author me" />
<link href="https://medium.com/@youronly.one" rel="author me" />
<link href="https://eyeem.com/u/youronlyone" rel="author me" />
<link href="https://www.goodreads.com/youronlyone" rel="author me" />
<link href="https://plurk.com/Laibcoms" rel="author me" />
<link href="https://twitch.tv/gameshogun" rel="author me" />
<link href="https://www.deviantart.com/laibcoms" rel="author me" />
<link href="https://steamcommunity.com/id/YourOnlyOne/" rel="author me" />
<link href="https://codeberg.org/techmagus" rel="author me" />
<link href="https://framagit.org/techmagus" rel="author me" />
<link href="https://launchpad.net/~techmagus" rel="author me" />
<link href="https://gitlab.com/techmagus" rel="author me" />
<link href="https://github.com/techmagus" rel="author me" />
<link href="https://trakt.tv/users/youronlyone" rel="author me" />
<link href="https://youtube.com/YourOnlyONEofcl" rel="author me" />
<link href="https://twitter.com/YourOnlyONEofcl" rel="author me" />
<link href="https://facebook.com/YourOnly.ONE.ofcl" rel="author me" />
<link href="https://libre.fm/user/Laibcoms" rel="author me" />
<link href="https://last.fm/user/Laibcoms" rel="author me" />
<link href="https://pinterest.com/YourOnlyONEofcl/" rel="author me" />
<link href="https://wattpad.com/user/yugenbard" rel="author me" />
<link href="https://fictionpress.com/~yugenbard" rel="author me" />
<link href="https://fanfiction.net/~yugenbard" rel="author me" />
<link href="https://open.spotify.com/user/jcsesecuneta" rel="author me" />
<link href="https://mydramalist.com/profile/Shael" rel="author me" />
<link href="https://myanimelist.net/profile/YourOnlyOne" rel="author me" />
<link href="https://vero.co/youronlyone" rel="author me" />
<link href="https://ecency.com/@youronlyone" rel="author me" />
<link href="https://hive.blog/@youronlyone" rel="author me" />
<link href="https://steemit.com/@youronlyone" rel="author me" />
<link href="https://linkedin.com/in/youronlyone/" rel="author me" />
{{ else }}
<link href="https://iam.youronly.one" rel="me" />
<link href="https://keyoxide.org/wkd/contact@im.youronly.one" rel="me" />
<link href="https://keyoxide.org/989eb937bdf4a5cd65470204f2f9be4c3d8e4f53" rel="me" />
<link href="https://keybase.io/yukino/" rel="me" />
{{/* Fediverse */}}
<link href="https://hashi.icu/@youronlyone" rel="me" />
<link href="https://public.garden/@youronlyone" rel="me" />
<link href="https://c.im/@youronlyone" rel="me" />
<link href="https://p.lu/a/youronlyone" rel="me" />
<link href="https://pixelfed.social/youronlyone" rel="me" />
<link href="https://p.lu/c/youronly.one" rel="me" />
<link href="https://bookwyrm.social/@youronlyone" rel="me" />
<link href="https://inventaire.io/users/YourOnlyOne/" rel="me" />
<link href="https://diasp.org/u/jcsesecuneta" rel="me" />
<link href="https://sopuli.xyz/u/youronlyone" rel="me" />
<link href="https://paper.wf/youronlyone" rel="me" />
<link href="https://writing.exchange/@VersesSpace" rel="me" />
<link href="https://write.as/versesspace/" rel="me" />
<link href="https://fediverse.blog/~/WhenSnowFalls/" rel="me" />
<link href="https://fediverse.blog/~/Sandbox/" rel="me" />
<link href="https://fediverse.blog/@/yuki" rel="me" />
<link href="https://node9.org/profile/youronlyone" rel="me" />
<link href="https://zotum.net/profile/youronlyone" rel="me" />
<link href="https://qoto.org/@youronlyone" rel="me" />
<link href="https://social.vivaldi.net/@youronlyone" rel="me" />
{{/* Fediverse SOON */}}
<link href="https://www.tumblr.com/youronlyoneofcl/" rel="me" />
<link href="https://www.tumblr.com/blog/youronlyoneofcl" rel="me" />
<link href="https://t.youronly.one" rel="me" />
<link href="https://www.flickr.com/people/laibcoms" rel="me" />
<link href="https://www.flickr.com/photos/laibcoms" rel="me" />
{{/* Non-fediverse */}}
<link href="https://blog.naver.com/youronlyone-ofcl" rel="me" />
<link href="https://medium.com/@youronly.one" rel="me" />
<link href="https://eyeem.com/u/youronlyone" rel="me" />
<link href="https://www.goodreads.com/youronlyone" rel="me" />
<link href="https://plurk.com/Laibcoms" rel="me" />
<link href="https://twitch.tv/gameshogun" rel="me" />
<link href="https://www.deviantart.com/laibcoms" rel="me" />
<link href="https://steamcommunity.com/id/YourOnlyOne/" rel="me" />
<link href="https://codeberg.org/techmagus" rel="me" />
<link href="https://framagit.org/techmagus" rel="me" />
<link href="https://launchpad.net/~techmagus" rel="me" />
<link href="https://gitlab.com/techmagus" rel="me" />
<link href="https://github.com/techmagus" rel="me" />
<link href="https://trakt.tv/users/youronlyone" rel="me" />
<link href="https://instagram.com/YourOnly.One" rel="me" />
<link href="https://youtube.com/YourOnlyONEofcl" rel="me" />
<link href="https://twitter.com/YourOnlyONEofcl" rel="me" />
<link href="https://facebook.com/YourOnly.ONE.ofcl" rel="me" />
<link href="https://libre.fm/user/Laibcoms" rel="me" />
<link href="https://last.fm/user/Laibcoms" rel="me" />
<link href="https://pinterest.com/YourOnlyONEofcl/" rel="me" />
<link href="https://wattpad.com/user/yugenbard" rel="me" />
<link href="https://fictionpress.com/~yugenbard" rel="me" />
<link href="https://fanfiction.net/~yugenbard" rel="me" />
<link href="https://open.spotify.com/user/jcsesecuneta" rel="me" />
<link href="https://mydramalist.com/profile/Shael" rel="me" />
<link href="https://myanimelist.net/profile/YourOnlyOne" rel="me" />
<link href="https://vero.co/youronlyone" rel="me" />
<link href="https://ecency.com/@youronlyone" rel="me" />
<link href="https://hive.blog/@youronlyone" rel="me" />
<link href="https://steemit.com/@youronlyone" rel="me" />
<link href="https://linkedin.com/in/youronlyone/" rel="me" />
{{ end }}

{{- /*
  <link href="https://facebook.com/jcsesecuneta" rel="author me" />
  <link href="https://facebook.com/jcjohnsesecuneta" rel="author me" />
  <link href="https://gravatar.com/jcjohnsesecuneta" rel="author me" />
  <link href="https://bitbucket.org/techmagus/" rel="author me" />
  <link href="https://stackexchange.com/users/117040/yukino" rel="author me" />
  <link href="https://stackexchange.com/users/117040/im-youronly-one" rel="author me" />
  <link href="https://tripadvisor.com/members/snoworldone" rel="author me" />
  <link href="https://google.com/maps/contrib/107219430233856542092/reviews?hl=en-PH" rel="author me" />
  <link href="https://www.themoviedb.org/u/YourOnlyOne" rel="author me" />
  <link href="https://anime-planet.com/users/snoworld" rel="me" />
  <link href="https://vimeo.com/jcsesecuneta" rel="author me" />
  <link href="https://instagram.com/yahananxie" rel="author me" />
  <link href="https://instagram.com/jcsesecuneta" rel="author me" />
  <link href="https://soundcloud.com/jcsesecuneta" rel="author me" />
*/ -}}

{{/* Proprietary networks */}}
{{- /*
  <link href="https://news.ycombinator.com/user?id=techmagus" rel="author e" />
*/ -}}

{{/* Bookmark Networks / Forums */}}
{{- /*
  <link href="https://digg.com/u/yukino" rel="me" />
  <link href="https://reddit.com/user/Laibcoms/" rel="me" />
  <link href="https://stumbleupon.com/stumbler/Laibcoms" rel="me" />
*/ -}}

{{/* /way/ */}}
{{- /*
  <link href="https://facebook.com/WayOfBelievers" rel="me" />
  <link href="https://facebook.com/One-Way-Faith-133673070153815/" rel="me" />
  <link href="https://instagram.com/1way.faith" rel="me" />
  <link href="https://twitter.com/1wayfaith" rel="me" />
*/ -}}

{{/* /love/ */}}
{{- /*
  <link href="https://facebook.com/YourOnlyOne7" rel="me" />
*/ -}}

{{/* /snoworld/ */}}
{{- /*
  <link href="https://facebook.com/snoworld" rel="me" />
  <link href="https://instagram.com/snoworld1" rel="me" />
  <link href="https://twitter.com/snoworld" rel="me" />
*/ -}}

{{/* /techmagus/ */}}
{{- /*
  <link href="https://qoto.org/@techmagus" rel="me" /> <!-- archived -->

  <link href="https://facebook.com/techmagus" rel="me" />
  <link href="https://instagram.com/techmagus" rel="me" />
  <link href="https://twitter.com/techmagusninja" rel="me" />
*/ -}}

{{/* Faithful Athlete */}}
{{- /*
  <link href="https://facebook.com/faithful.athlete" rel="me" />
  <link href="https://instagram.com/faithful.athlete" rel="me" />
  <link href="https://twitter.com/faithfulatleta" rel="me" />
  <link href="https://youtube.com/channel/UCgRoTRj_3cVi6DlVk_d6RRQ/" rel="me" />
  <link href="https://storyteller.fit/writer/41154967" rel="me" />
  */ -}}

{{/* Confident Traveler */}}
{{- /*
  <link href="https://facebook.com/confidentraveler" rel="me" />
  <link href="https://instagram.com/confidentraveler" rel="me" />
  <link href="https://twitter.com/confidentravel" rel="me" />
  <link href="https://youtube.com/channel/UCdOr3nZaEpkIrPP_vJt4bog/" rel="me" />
  */ -}}

{{/* The Yūgen Bard */}}
{{- /*
  <link href="https://facebook.com/yugenbard" rel="me" />
  <link href="https://instagram.com/yugenbard" rel="me" />
  <link href="https://twitter.com/yugenbard" rel="me" />
  <link href="https://youtube.com/channel/UCAVvgdxvgjvm_WLPVwSS7Hw/" rel="me" />
  */ -}}

{{/* gameshogun */}}
{{- /*
  <link href="https://facebook.com/gameshogun" rel="me" />
  <link href="https://instagram.com/gameshogun" rel="me" />
  <link href="https://pinterest.com/gameshogun/" rel="me" />
  <link href="https://twitter.com/gameshogun" rel="me" />
  <link href="https://youtube.com/gameshogunws" rel="me" />
  */ -}}

{{/* verses.space */}}
{{- /*
  <link href="https://verses.space" rel="me" />

  <link href="https://facebook.com/verses.space" rel="me" />
  <link href="https://instagram.com/verses.space" rel="me" />
  <link href="https://twitter.com/versesspace" rel="me" />
  */ -}}

{{/* welfareness */}}
{{- /*
  <link href="https://facebook.com/welfareness" rel="me" />
  <link href="https://facebook.com/healthwelfareness" rel="me" />
  <link href="https://facebook.com/wealthwelfareness" rel="me" />
  <link href="https://instagram.com/welfareness" rel="me" />
  <link href="https://instagram.com/healthwelfareness" rel="me" />
  <link href="https://instagram.com/wealthwelfareness" rel="me" />
  <link href="https://pinterest.com/CleanRealFood/" rel="me" />
  <link href="https://twitter.com/welfareness" rel="me" />
  <link href="https://youtube.com/RealfoodSpace24" rel="me" />
  */ -}}
