{{- $cfwebanalyticsid := .Site.Params.analytics.cfwebanalytics -}}

{{- $microanalyticsioid := .Site.Params.analytics.microanalyticsio -}}

{{- $naveranalyticsid := .Site.Params.analytics.naver -}}
{{- $naverjs := resources.Get "js/analytics-naver.js" | js.Build ( dict "params" ( dict "naveranalyticsid" $naveranalyticsid ) ) -}}
{{- $naverjs = $naverjs | fingerprint "sha512" -}}

{{- $counterdevid := .Site.Params.analytics.counterdev -}}
{{- $counterdevjs := resources.Get "js/analytics-counterdev.js" | js.Build ( dict "params" ( dict "counterdevid" $counterdevid ) ) -}}

{{- $swetrixid := .Site.Params.analytics.swetrix -}}
{{- $swetrixjs := resources.Get "js/analytics-swetrix.js" | js.Build ( dict "params" ( dict "swetrixid" $swetrixid ) ) -}}
{{- $swetrixjs = $swetrixjs | minify | fingerprint "sha512" -}}

{{- $msftclarityid := .Site.Params.analytics.microsoftclarity -}}
{{- $msftclarityjs := resources.Get "js/analytics-msftclarity.js" | js.Build ( dict "params" ( dict "msftclarityid" $msftclarityid ) ) -}}

{{- $analyticsjs := slice $counterdevjs $msftclarityjs | resources.Concat "js/analytics.js" -}}
{{- $analyticsjs = $analyticsjs | minify | fingerprint "sha512" -}}

{{/* BGN: analytics */}}
  {{- with $cfwebanalyticsid }}
    <link href="https://static.cloudflareinsights.com/beacon.min.js" crossorigin="anonymous" rel="preload" as="script" />
    <script src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ . }}"}' crossorigin="anonymous" type="text/javascript"></script>
  {{ end }}
  {{- with $microanalyticsioid }}
    <link href="https://microanalytics.io/js/script.js" rel="preload" as="script" />
    <script src="https://microanalytics.io/js/script.js" data-host="https://microanalytics.io" data-dnt="true" id="{{ . }}" type="text/javascript"></script>
  {{ end }}
  {{- with $naveranalyticsid }}
		<link href="https://wcs.naver.net/wcslog.js" rel="preload" as="script" />
    <script src="https://wcs.naver.net/wcslog.js" type="text/javascript"></script>
		<link href="{{ $naverjs.RelPermalink }}" integrity="{{ $naverjs.Data.Integrity }}" crossorigin="anonymous" rel="preload" as="script" />
    {{/* <script src="{{ $naverjs.RelPermalink }}" integrity="{{ $naverjs.Data.Integrity }}" crossorigin="anonymous" type="{{ $naverjs.MediaType }}"></script> */}}
    {{/* <script integrity="{{ $naverjs.Data.Integrity }}" type="{{ $naverjs.MediaType }}">{{ $naverjs.Content | safeJS }}</script> */}}
    <script type="text/javascript">
      if(!wcs_add) var wcs_add = {};
      wcs_add["wa"] = "{{ . }}";
      if(window.wcs) {
        wcs_do();
      }
    </script>
  {{- end -}}
  {{- with or $counterdevjs $msftclarityjs }}
    <link href="{{ $analyticsjs.RelPermalink }}" integrity="{{ $analyticsjs.Data.Integrity }}" crossorigin="anonymous" rel="preload" as="script" />
    <script src="{{ $analyticsjs.RelPermalink }}" integrity="{{ $analyticsjs.Data.Integrity }}" crossorigin="anonymous" type="{{ $analyticsjs.MediaType }}"></script>
  {{ end }}
	{{ with $swetrixid }}
		<link href="https://swetrix.org/swetrix.js" rel="preload" as="script" />
		<script src="https://swetrix.org/swetrix.js" type="text/javascript"></script>
		<link href="{{ $swetrixjs.RelPermalink }}" integrity="{{ $swetrixjs.Data.Integrity }}" crossorigin="anonymous" rel="preload" as="script" />
		<script src="{{ $swetrixjs.RelPermalink }}" integrity="{{ $swetrixjs.Data.Integrity }}" crossorigin="anonymous" type="{{ $swetrixjs.MediaType }}"></script>
    {{/* <noscript><img src="https://api.swetrix.com/log/noscript?pid={{ . }}" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript> */}}
  {{ end }}
{{/* END: analytics */}}

{{- with .Site.Params.googleadsense }}
  <script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ . }}" crossorigin="anonymous" defer ></script>
{{- end -}}
