{{- $yukiscss := resources.Get "scss/yuki-style.scss" -}}
{{- $globalscss := resources.Get "scss/youronly.one-head-03-global.scss" -}}
{{- $layoutscss := resources.Get "scss/layouts.scss" -}}
{{- $semwebcss := resources.Get "css/semweb-style.css" -}}
{{- $quotecss := resources.Get "css/quote.css" -}}
{{- $localcss := resources.Get "css/youronly.one-head-04-local.css" -}}

{{- $yookiscss := slice $yukiscss $globalscss $layoutscss | resources.Concat "scss/yooki.scss" -}}
{{- $yookicss := $yookiscss | resources.ExecuteAsTemplate "css/yooki.css" . | toCSS -}}
{{- $yookicss = slice $yookicss $semwebcss $quotecss $localcss | resources.Concat "css/yooki.css" -}}
{{- $yookicss = $yookicss | minify | fingerprint "sha512" -}}

{{- $FontDefaultsScss := resources.Get "scss/font-defaults.scss" | resources.ExecuteAsTemplate "css/fonts-defaults.css" . | toCSS -}}
{{- $FontYelosanCss := resources.Get "css/yelosan-fonts.css" -}}
{{- $FontNotoCss := resources.Get "css/font-noto.css" -}}
{{- $FontCjkCss := resources.Get "css/font-cjk.css" -}}
{{- $FontPilipinoCss := resources.Get "css/font-pilipino.css" -}}
{{- $FontDiacriticsCss := resources.Get "css/font-diacritics.css" -}}
{{- $FontHebrewCss := resources.Get "css/font-hebrew.css" -}}
{{- $FontSymbolsCss := resources.Get "css/font-symbols.css" -}} {{/* src: https://github.com/techmagus/cc-icons or https://cdn.jsdelivr.net/gh/cc-icons/cc-icons@1.2.1/css/cc-icons.css */}}
{{- $FontEmojiCss := resources.Get "css/font-emoji.css" -}}
{{- $FontYelosanCss = slice $FontDefaultsScss $FontYelosanCss $FontNotoCss $FontCjkCss $FontPilipinoCss $FontDiacriticsCss $FontHebrewCss $FontSymbolsCss $FontEmojiCss | resources.Concat "css/yelosan-fonts.css" -}}
{{- $FontYelosanCss = $FontYelosanCss | minify | fingerprint "sha512" -}}

{{- $appletouchiconpng := resources.Get "favicon/apple-touch-icon.png" | fingerprint "sha512" -}}
{{- /* $faviconsvg := resources.Get "favicon/favicon.svg" | fingerprint "sha512" */ -}}
{{- $favicon32png := resources.Get "favicon/favicon-32x32.png" | fingerprint "sha512" -}}
{{- $androidchrome192png := resources.Get "favicon/android-chrome-192x192.png" | fingerprint "sha512" -}}
{{- $favicon16png := resources.Get "favicon/favicon-16x16.png" | fingerprint "sha512" -}}
{{- $safaripinnedtabsvg := resources.Get "favicon/safari-pinned-tab.svg" | fingerprint "sha512" -}}
{{- $faviconico := resources.Get "favicon/favicon.ico" | fingerprint "sha512" -}}
{{- $browserconfigxml := resources.Get "favicon/browserconfig.xml" | resources.ExecuteAsTemplate "favicon/browserconfig.xml" . | fingerprint "sha512" -}}

{{/* BGN: Polyfill */}}
  {{/* 2024-01-17: v3.111.0; see: https://polyfill.io */}}
  <link rel="preload" as="script" crossorigin href="https://polyfill.io/v3/polyfill.min.js?version=3.111.0&features=default%2CIntl%2Ces5%2Ces6%2Ces7%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces2019%2Ces2020%2Ces2021%2Ces2022&flags=gated" />
  <script type="text/javascript" id="Polyfill-script" fetchpriority="high" crossorigin src="https://polyfill.io/v3/polyfill.min.js?version=3.111.0&features=default%2CIntl%2Ces5%2Ces6%2Ces7%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces2019%2Ces2020%2Ces2021%2Ces2022&flags=gated"></script>
{{/* END: Polyfill */}}

{{/* BGN: jQuery */}}
  {{/* 2024-01-17: v3.7.1; see: https://jquery.com/download/ */}}
  {{- with .Site.Params.jquerycdn }}
    {{- $jqueryjs := resources.Get "js/jquery.js" -}}
    {{- $jqueryjs = $jqueryjs | minify | fingerprint "sha512" -}}
    <link rel="preload" as="script" crossorigin href="{{ $jqueryjs.RelPermalink }}" integrity="{{ $jqueryjs.Data.Integrity }}" />
    <script type="{{ $jqueryjs.MediaType }}" id="jQuery-script" fetchpriority="high" crossorigin src="{{ $jqueryjs.RelPermalink }}" integrity="{{ $jqueryjs.Data.Integrity }}"></script>
  {{ end -}}
{{/* END: jQuery */}}

{{/* BGN: mathjax */}}
  {{/* 2024-01-17: v3.2.2 */}}
  {{- with .Params.math }}
    <script type="text/javascript" id="MathJax-script" async fetchpriority="auto" crossorigin src="https://cdn.jsdelivr.net/npm/mathjax@latest/es5/tex-mml-chtml.min.js"></script>
  {{ end -}}
{{/* END: mathjax */}}

{{/* BGN: fontawesome and fork-awesome */}}
  {{- /*
    - 2024-01-17
      - fontawesome5pro v5.14.0
      - fontawesome-free v6.5.1
      - fork-awesome v1.2.0
    - some themes use fontawesome5pro or fontawesome-free
    - icons missing in fontawesome are in fork-awesome
  */ -}}
  <link rel="stylesheet" type="text/css" media="all" crossorigin href="https://cdn.jsdelivr.net/npm/fontawesome5pro@latest/css/all.min.css" />
  {{/* <script defer fetchpriority="low" crossorigin src="https://cdn.jsdelivr.net/npm/fontawesome5pro@latest/js/fontawesome.min.js"></script> */}}
  <link rel="stylesheet" type="text/css" media="all" crossorigin href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/fontawesome.min.css" />
  {{/* <script defer fetchpriority="low" crossorigin src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/js/fontawesome.min.js" ></script> */}}
  <link rel="stylesheet" type="text/css" media="all" crossorigin href="https://cdn.jsdelivr.net/npm/fork-awesome@latest/css/fork-awesome.min.css" />
{{/* END: fontawesome and fork-awesome */}}

{{- /* NOTE:
  - cc-icons 1.2.1 as of 2022-12-13
*/ -}}
<link rel="stylesheet" type="{{ $FontYelosanCss.MediaType }}" media="all" crossorigin href="{{ $FontYelosanCss.RelPermalink }}" integrity="{{ $FontYelosanCss.Data.Integrity }}" />
<link rel="stylesheet" type="{{ $yookicss.MediaType }}" media="all" crossorigin href="{{ $yookicss.RelPermalink }}" integrity="{{ $yookicss.Data.Integrity }}" />

{{/* BGN: favicon */}}
  <link rel="apple-touch-icon" type="{{ $appletouchiconpng.MediaType }}" sizes="180x180" crossorigin href="{{ $appletouchiconpng.RelPermalink }}" integrity="{{ $appletouchiconpng.Data.Integrity }}" />
  {{- /* NOTE: disabled temporarily until we upload this file in each blog
    <link rel="icon" type="{{ $faviconsvg.MediaType }}" crossorigin href="{{ $faviconsvg.RelPermalink }}" integrity="{{ $faviconsvg.Data.Integrity }}" />
  */ -}}
  <link rel="icon" type="{{ $favicon32png.MediaType }}" sizes="32x32" crossorigin href="{{ $favicon32png.RelPermalink }}" integrity="{{ $favicon32png.Data.Integrity }}" />
  <link rel="icon" type="{{ $androidchrome192png.MediaType }}" sizes="192x192" crossorigin href="{{ $androidchrome192png.RelPermalink }}" integrity="{{ $androidchrome192png.Data.Integrity }}" />
  <link rel="icon" type="{{ $favicon16png.MediaType }}" sizes="16x16" crossorigin href="{{ $favicon16png.RelPermalink }}" integrity="{{ $favicon16png.Data.Integrity }}" />
  <link rel="mask-icon" type="{{ $safaripinnedtabsvg.MediaType }}" color="#5bbad5" crossorigin href="{{ $safaripinnedtabsvg.RelPermalink }}" integrity="{{ $safaripinnedtabsvg.Data.Integrity }}" />
  <link rel="shortcut icon" type="{{ $faviconico.MediaType }}" crossorigin href="{{ $faviconico.RelPermalink }}" integrity="{{ $faviconico.Data.Integrity }}" />
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
  <meta name="application-name" content="{{ .Site.Title }}">
  {{ with .Site.Params.favicon_mstilecolor }}<meta name="msapplication-TileColor" content="{{ . }}" />{{ end }}
  <meta name="msapplication-config" content="{{ $browserconfigxml.Permalink }}" integrity="{{ $browserconfigxml.Data.Integrity }}" />
  <meta name="theme-color" content="{{ .Site.Params.themeColor | default "#ffffff" }}" />
{{/* END: favicon */}}

<meta name="DC.title" content="IM YourOnly.One 🔏" />
<meta name="geo.region" content="PH-00" />
<meta name="geo.placename" content="Manila" />
<meta name="geo.position" content="14.599781;120.973935" />
<meta name="ICBM" content="14.599781, 120.973935" />

{{- if templates.Exists "partials/relme.html" -}}
  {{ partial "relme.html" . }}
{{- end }}

{{/* BGN: OneSignal */}}
  {{- with and .Site.Params.tools.onesignal (hugo.IsProduction) -}}
    {{/* NOTE: Do not add crossorigin=anonymous */}}
    {{- /* 2024-01-17: disabled
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" type="text/javascript" async ></script>
    <script>
      window.OneSignal = window.OneSignal || [];
      OneSignal.push(function () {
        OneSignal.init({
          appId: "{{ . }}",
        });
      });
    </script>
    */ -}}
  {{- end -}}
{{/* END: OneSignal */}}

{{/* BGN: NowPlaying LastFM */}}
  {{- $sitepath := (urls.Parse site.BaseURL).Path -}}
  {{ if or (eq $sitepath "/love/") (eq $sitepath "/snoworld/") (eq $sitepath "/techmagus/") (eq $sitepath "/yuki/") }}
    {{- $lastfmcss := resources.Get "css/lastfm-nowplaying.css" | minify | fingerprint "sha512" -}}
    {{- $lastfmjs := resources.Get "js/lastfm-nowplaying.js" | minify | fingerprint "sha512" -}}
    <link rel="stylesheet" type="{{ $lastfmcss.MediaType }}" media="all" crossorigin href="{{ $lastfmcss.RelPermalink }}" integrity="{{ $lastfmcss.Data.Integrity }}" />
    <script type="{{ $lastfmjs.MediaType }}" id="NowPlaying-script" defer fetchpriority="low" crossorigin src="{{ $lastfmjs.RelPermalink }}" integrity="{{ $lastfmjs.Data.Integrity }}"></script>
  {{ end }}
{{/* END: NowPlaying LastFM */}}

{{/* BGN: twemoji */}}
  {{- /* 2024-01-17: v15.0.3; see: https://github.com/jdecked/twemoji */ -}}
  {{- $twemojijs := resources.Get "js/twemoji.js" -}} {{/* src: https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.js */}}
  {{- $twemojisettingsjs := resources.Get "js/twemoji-settings.js" -}}
  {{- $twemojialljs := slice $twemojijs $twemojisettingsjs | resources.Concat "js/twemoji-all.js" -}}
  {{- $twemojialljs = $twemojialljs | minify | fingerprint "sha512" -}}
  <script type="{{ $twemojialljs.MediaType }}" id="twemoji-script" defer fetchpriority="low" crossorigin src="{{ $twemojialljs.RelPermalink }}" integrity="{{ $twemojialljs.Data.Integrity }}"></script>
{{/* END: twemoji */}}
