<p>{{ i18n "gift-didyoulikeit" }} <a href="https://im.youronly.one/p/gift/" title="{{ i18n "gift-sendme" }}" rel="me noopener" target="_blank">{{ i18n "gift-sendme" }}</a>! {{ i18n "opensnewtab" }}</p>

{{- /*
<div id="Yuki_gift" class="gift">
  <ul>
    {{ range $.Param "author.gift" }}
      <li>{{ .name }}: {{ with .url }}<a href="{{ . }}" rel="me noopener external">{{ .urlshort }}</a>{{ else }}{{ .address }}{{ with .tag }} (tag: {{ . }}){{ end }}{{ end }}</li>
    {{ end }}
  </ul>
</div>
*/ -}}
