{{- /*
  NOTE:
	- do not re-arrange
*/ -}}
{{- $semwebcss := resources.Get "css/semweb-style.css" | minify -}}
{{- $globalcss := resources.Get "css/youronly.one-head-03-global.css" | minify -}}
{{- $localcss := resources.Get "css/youronly.one-head-05-local.css" | minify -}}
{{- $counterdevid := .Site.Params.analytics.counterdev -}}
{{- $microanalyticsioid := .Site.Params.analytics.microanalyticsio -}}
{{- $swetrixid := .Site.Params.analytics.swetrix -}}
{{- $cfwebanalyticsid := .Site.Params.analytics.cfwebanalytics -}}
{{- $msftclarityid := .Site.Params.analytics.microsoftclarity -}}
{{- $counterdevjs := resources.Get "js/analytics-counterdev.js" | minify -}}
{{- $counterdevjs = $counterdevjs | js.Build ( dict "params" ( dict "counterdevid" $counterdevid ) ) -}}
{{- $swetrixjs := resources.Get "js/analytics-swetrix.js" | minify -}}
{{- $swetrixjs = $swetrixjs | js.Build ( dict "params" ( dict "swetrixid" $swetrixid ) ) -}}
{{- $msftclarityjs := resources.Get "js/analytics-msftclarity.js" | minify -}}
{{- $msftclarityjs = $msftclarityjs | js.Build ( dict "params" ( dict "msftclarityid" $msftclarityid ) ) -}}

{{- with .Site.Params.jquerycdn }}
	<link rel="preload" as="script" href="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
{{ end -}}
{{- with .Params.math }}
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es2022" integrity="sha512-k9jJn8XEk1zjlilocFacpT31WGAV9jEugq631jQrNVQi4FS1eOkXzlvyMJoJ1nr0Qcbp1YMRECv3fggDEIf+qg==" crossorigin="anonymous" async></script>
	<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3.2.0/es5/tex-mml-chtml.js" integrity="sha512-ehyCwiYKL3B7bx/X+X0rs1JKF9ANzwjOeOvB69YoPOZnpBhC9GRSu2ry9vAuv4Z460WI7Yt4iq0dEPPeCElnXA==" crossorigin="anonymous" async></script>
{{ end -}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontawesome5pro@5.14.0/css/all.min.css" integrity="sha512-lapRU23YyAdbHOZLhCSITpHY8XGBFSldLZxKm1+syxp7VnX5qKDbaixFj7VRnPR4ciR/AeosNhaRlEnyD13muQ==" crossorigin="anonymous" media="all" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" media="all" type="text/css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha512-aupidr80M36SeyviA/hZ2uEPnvt2dTJfyjm9y6z1MgaV13TgzmDiFdsH3cvSNG27mRIj7gJ2gNeg1HeySJyE3Q==" crossorigin="anonymous" media="all" type="text/css" />
<link rel="stylesheet" href="https://rsc.youronly.one/css/paninap-fonts.min.css" crossorigin="anonymous" media="all" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/twemoji@14.0.2/dist/twemoji.min.js" integrity="sha512-LK/JJPwWWzXIbw4noGosPmzUQo4Wq+gcwt5vF5ytytrbdzB8FNcHPyGygZue6fq6pxyPaFspIsJ26titsKcUrg==" crossorigin="anonymous" defer></script>
<script src="https://rsc.youronly.one/js/twemoji-settings.js" crossorigin="anonymous" defer></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/cc-icons/cc-icons@1.2.1/css/cc-icons.min.css" integrity="sha512-K/9D60UQF+wLPWxI61jBWA9aNVmEfmsi7gBxiLi/e+hlhjT/QhJxM18aQjBIkRYH9qnz+wfog9a5opdsh4BdtA==" crossorigin="anonymous" media="all" type="text/css" />
<link rel="stylesheet" href="https://rsc.youronly.one/css/yuki-style.min.css" crossorigin="anonymous" media="all" type="text/css" />

<link rel="stylesheet" href="{{ $semwebcss.RelPermalink }}" crossorigin="anonymous" media="all" type="text/css" />
<link rel="stylesheet" href="{{ $globalcss.RelPermalink }}" crossorigin="anonymous" media="all" type="text/css" />
{{- $webmentioncss := resources.Get "css/webmention.css" | minify -}}
<link rel="stylesheet" href="{{ $webmentioncss.RelPermalink }}" crossorigin="anonymous" media="all" type="text/css" />
{{- if templates.Exists "partials/youronly.one-head-04-local.html" -}}
	{{ partial "youronly.one-head-04-local.html" . }}
{{- end }}
{{- if fileExists "assets/css/youronly.one-head-05-local.css" -}}
	<link rel="stylesheet" href="{{ $localcss.RelPermalink }}" crossorigin="anonymous" media="all" type="text/css" />
{{- end }}

{{/* BGN: analytics */}}
	{{ with $cfwebanalyticsid }}
		<link rel="preload" as="script" href="https://static.cloudflareinsights.com/beacon.min.js" crossorigin="anonymous" />
		<script src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ . }}"}' crossorigin="anonymous" async></script>
	{{ end }}
	{{ with $counterdevid }}
		<link rel="preload" as="script" href="{{ $counterdevjs.RelPermalink }}" crossorigin="anonymous" />
		<script src="{{ $counterdevjs.RelPermalink }}" crossorigin="anonymous" async></script>
	{{ end }}
	{{ with $microanalyticsioid }}
		<link rel="preload" as="script" href="https://microanalytics.io/js/script.js" />
		<script src="https://microanalytics.io/js/script.js" data-host="https://microanalytics.io" data-dnt="true" id="{{ . }}" async></script>
	{{ end }}
	{{ with $swetrixid }}
		<link rel="preload" as="script" href="https://swetrix.org/swetrix.js" />
		<script src="https://swetrix.org/swetrix.js" async></script>
		<link rel="preload" as="script" href="{{ $swetrixjs.RelPermalink }}" crossorigin="anonymous" />
		<script src="{{ $swetrixjs.RelPermalink }}" crossorigin="anonymous" async></script>
		<noscript><img src="https://api.swetrix.com/log/noscript?pid={{ . }}" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
	{{ end }}
	{{ with $msftclarityid }}
		<link rel="preload" as="script" href="{{ $msftclarityjs.RelPermalink }}" crossorigin="anonymous" />
		<script src="{{ $msftclarityjs.RelPermalink }}" crossorigin="anonymous" async></script>
	{{ end }}
{{/* END: analytics */}}

{{/* BGN: favicon */}}
	<link rel="apple-touch-icon" sizes="180x180" href="https://rsc.youronly.one/favicon/{{ $.Site.Params.subdir }}/apple-touch-icon.png?{{ $.Site.Params.faviconcache }}={{ $.Site.Params.faviconbuster }}" crossorigin="anonymous" />
	{{- /* NOTE: disabled temporarily until we upload this file in each blog
		<link rel="icon" type="image/svg+xml" href="https://rsc.youronly.one/favicon/{{ $.Site.Params.subdir }}/favicon.svg?{{ $.Site.Params.faviconcache }}={{ $.Site.Params.faviconbuster }}" crossorigin="anonymous" />
	*/ -}}
	<link rel="icon" type="image/png" href="https://rsc.youronly.one/favicon/{{ $.Site.Params.subdir }}/favicon.png?{{ $.Site.Params.faviconcache }}={{ $.Site.Params.faviconbuster }}" crossorigin="anonymous" />
	<link rel="icon" type="image/png" sizes="32x32" href="https://rsc.youronly.one/favicon/{{ $.Site.Params.subdir }}/favicon-32x32.png?{{ $.Site.Params.faviconcache }}={{ $.Site.Params.faviconbuster }}" crossorigin="anonymous" />
	<link rel="icon" type="image/png" sizes="192x192" href="https://rsc.youronly.one/favicon/{{ $.Site.Params.subdir }}/android-chrome-192x192.png?{{ $.Site.Params.faviconcache }}={{ $.Site.Params.faviconbuster }}" crossorigin="anonymous" />
	<link rel="icon" type="image/png" sizes="16x16" href="https://rsc.youronly.one/favicon/{{ $.Site.Params.subdir }}/favicon-16x16.png?{{ $.Site.Params.faviconcache }}={{ $.Site.Params.faviconbuster }}" crossorigin="anonymous" />
	<link rel="mask-icon" href="https://rsc.youronly.one/favicon/{{ $.Site.Params.subdir }}/safari-pinned-tab.svg?{{ $.Site.Params.faviconcache }}={{ $.Site.Params.faviconbuster }}" color="#5bbad5" crossorigin="anonymous" />
	<link rel="shortcut icon" href="https://rsc.youronly.one/favicon/{{ $.Site.Params.subdir }}/favicon.ico?{{ $.Site.Params.faviconcache }}={{ $.Site.Params.faviconbuster }}" crossorigin="anonymous" />
	<meta name="msapplication-TileColor" content="#603cba" />
	<meta name="msapplication-config" content="https://rsc.youronly.one/favicon/{{ $.Site.Params.subdir }}/browserconfig.xml?{{ $.Site.Params.faviconcache }}={{ $.Site.Params.faviconbuster }}" />
	<meta name="theme-color" content="{{ .Site.Params.themeColor | default "#ffffff" }}" />
{{/* END: favicon */}}

<meta name="DC.title" content="IM YourOnly.One 🔏" />
<meta name="geo.region" content="PH-00" />
<meta name="geo.placename" content="Manila" />
<meta name="geo.position" content="14.599781;120.973935" />
<meta name="ICBM" content="14.599781, 120.973935" />

{{- if templates.Exists "partials/relme.html" -}}
	{{ partial "relme.html" . }}
{{- end }}

{{- with .Site.Params.googleadsense }}
	<script src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ . }}" crossorigin="anonymous" defer></script>
{{- end -}}
