<meta charset="utf-8">
<link href="{{ with .Params.relcanonical }}{{ . }}{{ else }}{{ .Permalink }}{{ end }}" rel="canonical" />
{{- /*
  NOTE:
  - All non-visible dates/times are in UTC for uniformity.
  - The consumer app/software can do the conversion as needed.
  - do not re-arrange
*/ -}}
{{- $iso8601 := "2006-01-02T15:04:05Z07:00" -}}
<meta name="referrer" content="strict-origin-when-cross-origin" />
{{/* BGN: Translations */}}
  {{- if .IsTranslated }}
  {{ range .AllTranslations -}}
  <link href="{{ .Permalink }}" hreflang="{{ or (.Site.LanguageCode) (.Site.Language.Lang) }}" rel="alternate" />
  {{ end -}}
  {{ range first 1 .AllTranslations }}<link href="{{ .Permalink }}" hreflang="x-default" rel="alternate" />{{ end }}
  {{- end -}}
{{/* END: Translations */}}
{{ range .AlternativeOutputFormats }}
  <link href="{{ .Permalink | safeURL }}" type="{{ .MediaType.Type | html }}" rel="{{ .Rel }}" />
{{- end }}
<link href="{{ .Permalink }}" rel="self" />
{{ range .Site.Params.websubhubs }}
  <link href="{{ . }}" rel="hub" />
{{- end }}
{{- /* NOTE: for reference, if we need it again
  <meta name="robots" content="{{ if or (eq .Kind "taxonomy") (eq .Kind "term") }}noindex{{ else if .Params.metarobots }}{{ .Params.metarobots }}{{ else }}index{{ end }}, follow" />
*/ -}}
<meta name="robots" content="{{ if .Params.metarobots }}{{ .Params.metarobots }}{{ else }}index{{ end }}, follow" />
{{ with .Params.redirectto }}<meta http-equiv="refresh" content="0; url='{{ . }}'" />{{ end }}
<meta name="author" content="{{ $.Param "author.name" }}" />
{{ with (.Param "description") }}<meta name="description" content="{{ . | plainify }}" class="p-summary" />{{ end }}
<meta name="keywords" content="{{ with or ($.Param "keywords") ($.Param "tags") }}{{ delimit . ", " }}{{ end }}" />
<meta name="modified" content="{{ .Lastmod.UTC.Format $iso8601 }}">
<meta name="created" content="{{ .Date.UTC.Format $iso8601 }}">
<meta property="article:published_time" content="{{ .Date.UTC.Format $iso8601 }}" />
{{ range .Params.categories }}
  <meta property="article:section" content="{{ . }}" />
{{ end }}

<link href="https://indieauth.com/auth" rel="indieauth-metadata authorization_endpoint" />
<link href="https://webmention.io/im.youronly.one/webmention" rel="webmention" />
<link href="https://webmention.io/im.youronly.one/xmlrpc" rel="pingback" />
<link href="https://im.youronly.one/" rel="openid.delegate" />
<link href="https://openid.indieauth.com/openid" rel="openid.server" />

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ partial "schemas/semweb.html" . }}
{{ partial "schemas/schema_Global.html" . }}

{{- $sitewebmanifest := resources.Get "site.webmanifest" | resources.ExecuteAsTemplate "site.webmanifest" . | resources.Fingerprint "sha384" -}}
<link href="{{ $sitewebmanifest.RelPermalink }}" integrity="{{ $sitewebmanifest.Data.Integrity }}" crossorigin="anonymous" rel="manifest" />
{{ if site.IsServer }}
  <meta http-equiv="cache-control" content="no-cache">
{{ end }}

{{/* NOTE: above was ordered intentionally */}}

{{ with .Site.Params.verify.flattr }}<meta name="flattr:id" content="{{ . }}" />{{ end }}
{{ with .Site.Params.verify.naver }}<meta name="naver-site-verification" content="{{ . }}" />{{ end }}
{{ with .Site.Params.verify.wot }}<meta name="wot-verification" content="{{ . }}" />{{ end }}
{{ with .Site.Params.verify.ocs }}<meta name="ocs-site-verification" content="{{ . }}" />{{ end }}
{{ with .Site.Params.verify.followit }}<meta name="follow.it-verification-code" content="{{ . }}" />{{ end }}

{{ hugo.Generator }}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license" />

{{- /*
  NOTE:
  - will disable the prefetch feature, which we need for external resources
  - best left to User-Agent setting
  <meta http-equiv="x-dns-prefetch-control" content="off" />
*/ -}}

{{/* RESEARCH: https://developer.mozilla.org/en-US/docs/Web/Performance/dns-prefetch */}}
<link href="https://fonts.googleapis.com" crossorigin="anonymous" rel="preconnect" />
<link href="https://fonts.googleapis.com" crossorigin="anonymous" rel="dns-prefetch" />
<link href="https://fonts.gstatic.com" crossorigin="anonymous" rel="preconnect" />
<link href="https://fonts.gstatic.com" crossorigin="anonymous" rel="dns-prefetch" />
<link href="https://cdn.jsdelivr.net" crossorigin="anonymous" rel="preconnect" />
<link href="https://cdn.jsdelivr.net" crossorigin="anonymous" rel="dns-prefetch" />
<link href="https://unpkg.com" crossorigin="anonymous" rel="preconnect" />
<link href="https://unpkg.com" crossorigin="anonymous" rel="dns-prefetch" />

{{- /* NOTE: Disabled, currently not needed, we are hosted on Cloudflare Pages
  <link href="https://cdnjs.cloudflare.com" crossorigin="anonymous" rel="preconnect" />
  <link href="https://cdnjs.cloudflare.com" crossorigin="anonymous" rel="dns-prefetch" />
  <link href="https://ajax.cloudflare.com" crossorigin="anonymous" rel="preconnect" />
  <link href="https://ajax.cloudflare.com" crossorigin="anonymous" rel="dns-prefetch" />
*/ -}}

{{- /*
  RESEARCH:
  - https://csswizardry.com/2020/05/the-fastest-google-fonts/
  - https://sia.codes/posts/making-google-fonts-faster/

  NOTE:
  - due to CSP, we can not use the media="print" onload="this.media='all'" hack in rel="stylesheet"
*/ -}}
{{- /* NOTE: cache the styles */ -}}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Display:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Mono:wght@400;700&family=Noto+Sans+Tagalog&family=Noto+Sans+Tagbanwa&family=Noto+Sans+Buhid&family=Noto+Sans+Hanunoo&family=Noto+Sans+Phoenician&family=Noto+Sans+Hebrew:wght@400;700&family=Noto+Sans+KR:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" crossorigin="anonymous" rel="preload" as="style" />
{{- /* NOTE: execute the styles */ -}}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Display:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Mono:wght@400;700&family=Noto+Sans+Tagalog&family=Noto+Sans+Tagbanwa&family=Noto+Sans+Buhid&family=Noto+Sans+Hanunoo&family=Noto+Sans+Phoenician&family=Noto+Sans+Hebrew:wght@400;700&family=Noto+Sans+KR:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" media="all" crossorigin="anonymous" rel="stylesheet" />
{{- /* NOTE: We do not need this since the print hack is disabled
  <noscript>
    <link href="https://fonts.googleapis.com/css2??family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Display:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Mono:wght@400;700&family=Noto+Sans+Tagalog&family=Noto+Sans+Tagbanwa&family=Noto+Sans+Buhid&family=Noto+Sans+Hanunoo&family=Noto+Sans+Phoenician&family=Noto+Sans+Hebrew:wght@400;700&family=Noto+Sans+KR:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" crossorigin="anonymous" rel="stylesheet" />
  </noscript>
*/ -}}
